.create {
  padding: 40px 0 30px;
}
.container {
}
.create__title {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  color: $accent-color;

  margin-bottom: 16px;
}

.create__list {
}
.create__item {
}
.btn {
}
.btn-order__link {
}
