.create {
  padding: 20px 0 60px;

  @media screen and (min-width: 1440px) {
    padding: 50px 0 80px 0;
  }
}

.create__container {
  position: relative;
  z-index: 2;
  overflow-x: clip;

  @media screen and (min-width: 1440px) {
    padding-right: 31px;
  }
}

.create__title {
  position: relative;
  z-index: 2;
  font-size: 16px;
  max-width: 190px;
  line-height: 1.25;
  text-transform: uppercase;

  color: $accent-color;

  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 24px;

    max-width: 435px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 36px;
    margin-bottom: 40px;
    padding-left: 117px;
    max-width: 842px;
  }
}

.create__img {
  width: 100%;
}

.create__list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
  justify-content: space-between;

  @media screen and (max-width: 767.9px) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 20px;

    flex-basis: calc(100% - 20px / 2);
    justify-content: center;
  }
}

.create__item {
  @media screen and (max-width: 767.9px) {
    min-width: 130px;
    width: calc(50% - 20px / 2);
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  overflow: hidden;

  &:nth-child(1) {
    border-radius: 0px 0px 0px 50px;
  }
  &:nth-child(2) {
    border-radius: 50px 0px;
  }
  &:nth-child(3) {
    border-radius: 0px 0px 0px 50px;
  }
  &:nth-child(4) {
    border-radius: 50px 0px;
  }
}

.create__figure {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  left: -18px;
  top: 38px;

  background-color: #ffffff;

  box-shadow: $figure-shadow;
  border-radius: 0px 0px 0px 35px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1440px) {
    width: 136.83px;
    height: 144px;
    left: -21.82px;
    top: -36px;
    display: block;
    border-radius: 72px;
  }
}

.create__btn-wrap {
  text-align: center;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 80px;
  }
}

.create__btn {
  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}
