.footer {
  background: #f5f5fa;
  box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
}
@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

.footer-conteiner {
  @media screen and (max-width: 1439px) {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1440px;
    display: flex;
    justify-content: start;
  }
}
.footer__addres {
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}
.footer-logo {
  max-width: 192px;
  max-height: 48px;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo__wrap {
  margin-bottom: 20px;
  @media screen and (max-width: 1440px) {
    margin-right: 277px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.footer__navigation {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 54px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 103px;
  }
}
.footer-cont,
.addres-footer__tel {
  margin-bottom: 24px;
}
.footer-cont {
  @media screen and (min-width: 1440px) {
    margin-right: 106px;
  }
}

.footer-navigation__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.footer-navigation__wrap {
  display: flex;
}

.footer__item,
.footer-soc__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  letter-spacing: 0.01em;
  color: #2b2b2b;
  padding-bottom: 8px;
}
.addres-link__adres {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.01em;
  color: #2b2b2b;
  padding-bottom: 8px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.addres-link__footer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  // text-transform: capitalize;
  color: #487996;
  padding-bottom: 8px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}
link {
  list-style: none;
}
