@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("Caviar Dreams"), local("CaviarDreams"), url("../fonts/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreams.woff2") format("woff2"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams-Bold.eot");
  src: local("Caviar Dreams Bold"), local("CaviarDreams-Bold"), url("../fonts/CaviarDreams-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreams-Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.woff") format("woff"), url("../fonts/CaviarDreams-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Cera Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.more-foto {
  position: relative;
  max-width: 1440px;
}

.more-foto-pd {
  padding-top: 60px;
  padding-bottom: 78px;
}
@media screen and (max-width: 768px) {
  .more-foto-pd {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .more-foto-pd {
    padding-top: 20px;
    padding-bottom: 60.5px;
  }
}

.more-foto__title {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #487996;
}
@media screen and (max-width: 768px) {
  .more-foto__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) {
  .more-foto__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 16px;
  }
}

.masonry {
  display: flex;
  width: 100%;
  max-width: 1142px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 767px) and (max-width: 1439px) {
  .masonry {
    display: flex;
    width: 100%;
    max-width: 704px;
    margin-left: auto;
    margin-right: auto;
  }
}

.masonry--h {
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .masonry--h {
    flex-direction: column;
    display: block;
  }
}

.masonry-brick {
  margin: 0 0 32px 32px;
}
@media screen and (max-width: 768px) {
  .masonry-brick {
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.masonry-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.masonry-brick:nth-child(1) {
  margin-left: 0;
}

.masonry-brick:nth-child(4) {
  margin-left: 0;
}

.masonry-brick:nth-child(7) {
  margin-left: 0;
}

.masonry-brick:nth-child(10) {
  margin-left: 0;
}

.masonry-brick:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.box1 {
  z-index: -1;
  position: absolute;
  left: 29.85px;
  top: 490px;
  width: 140.9px;
  height: 145px;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
@media screen and (max-width: 768px) {
  .box1 {
    width: 73.65px;
    height: 74.05px;
    top: 43.55px;
    left: 32px;
    border-radius: 0px 0px 0px 35px;
  }
}
@media screen and (max-width: 480px) {
  .box1 {
    width: 73.65px;
    height: 74.05px;
    top: -4.17px;
    left: -18px;
    border-radius: 0px 0px 0px 35px;
  }
}

.box2 {
  z-index: -1;
  position: absolute;
  left: 1265.34px;
  top: 490px;
  width: 144px;
  height: 142.81px;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
  transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
  .box2 {
    width: 74.05px;
    height: 73.65px;
    top: 13px;
    left: 662px;
    border-radius: 25px 0px;
  }
}
@media screen and (max-width: 480px) {
  .box2 {
    width: 73.65px;
    height: 73.65px;
    top: -41px;
    left: 267px;
    border-radius: 25px 0px;
  }
}

.box3 {
  z-index: -1;
  position: absolute;
  left: -58px;
  top: 1030px;
  width: 144.18px;
  height: 144.29px;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
}
@media screen and (max-width: 768px) {
  .box3 {
    width: 73.65px;
    height: 74.05px;
    top: 369.23px;
    left: -17px;
    border-radius: 72px;
  }
}
@media screen and (max-width: 480px) {
  .box3 {
    display: none;
  }
}

.box4 {
  z-index: -1;
  position: absolute;
  left: 1265.34px;
  top: 1168px;
  width: 142.81px;
  height: 145px;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
}
@media screen and (max-width: 768px) {
  .box4 {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .box4 {
    width: 73.65px;
    height: 73.65px;
    top: 285.84px;
    left: 261px;
    border-radius: 25px 0px;
  }
}

.box5 {
  position: absolute;
  left: 1121.56px;
  top: 1313px;
  width: 143.77px;
  height: 116px;
  background: #FFFFFF;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;
}
@media screen and (max-width: 768px) {
  .box5 {
    z-index: -1;
    width: 73.65px;
    height: 74.05px;
    top: -30px;
    left: 105.65px;
    border-radius: 0px 35px 0px 0px;
  }
}
@media screen and (max-width: 480px) {
  .box5 {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */