@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("Caviar Dreams"), local("CaviarDreams"), url("../fonts/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreams.woff2") format("woff2"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams-Bold.eot");
  src: local("Caviar Dreams Bold"), local("CaviarDreams-Bold"), url("../fonts/CaviarDreams-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreams-Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.woff") format("woff"), url("../fonts/CaviarDreams-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Cera Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.gallery__wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .gallery__wrap {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__wrap {
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__wrap {
    width: 1142px;
  }
}

.gallery__decor {
  position: absolute;
  z-index: -1;
  width: 73.65px;
  height: 73.65px;
  background-color: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  display: block;
}
.gallery__decor--a {
  top: 0;
  left: 0;
  border-radius: 0 0 35px;
}
@media screen and (max-width: 767px) {
  .gallery__decor--a {
    transform: translate(-49px, -46px);
  }
}
@media screen and (min-width: 768px) {
  .gallery__decor--a {
    transform: translateY(-42px);
  }
}
.gallery__decor--b {
  bottom: 50%;
  right: 0;
  transform: translate(50%, -40px);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .gallery__decor--b {
    transform: translate(49px, -61px);
  }
}
.gallery__decor--c {
  bottom: 50%;
  left: 0;
  transform: translate(-50%, 25px);
  border-radius: 25px 0;
}
@media screen and (min-width: 768px) {
  .gallery__decor--c {
    transform: translateY(15px);
  }
}
.gallery__decor--d {
  bottom: 0;
  right: 0;
  transform: translate(40px, 52px);
  border-radius: 0 25px;
}
@media screen and (min-width: 768px) {
  .gallery__decor--d {
    left: 73.55px;
    transform: translateY(100%);
    border-radius: 0 35px 0 0;
  }
}
.gallery__decor--e {
  top: 0;
  right: 0;
  transform: translateY(34px);
  border-radius: 35px 0 0 0;
}
@media screen and (max-width: 767px) {
  .gallery__decor--e {
    display: none;
  }
}

.gallery__title {
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__title {
    margin-bottom: 62px;
    font-size: 48px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 336px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__item {
    width: 515px;
  }
}

.gallery__subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: #487996;
  width: 280px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .gallery__subtitle {
    margin-top: 16px;
    width: 315px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__subtitle {
    font-size: 18px;
    line-height: 1.28;
    width: 515px;
  }
}/*# sourceMappingURL=index.css.map */