@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("Caviar Dreams"), local("CaviarDreams"), url("../fonts/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreams.woff2") format("woff2"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams-Bold.eot");
  src: local("Caviar Dreams Bold"), local("CaviarDreams-Bold"), url("../fonts/CaviarDreams-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreams-Bold.woff2") format("woff2"), url("../fonts/CaviarDreams-Bold.woff") format("woff"), url("../fonts/CaviarDreams-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Cera Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  min-height: 74px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .header__nav {
    min-height: 145px;
  }
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: block;
  }
}

.header__menu {
  display: flex;
  font-family: Caviar Dreams;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  gap: 56px;
}

.contacts__list {
  position: absolute;
}

.logo {
  display: block;
  width: 101px;
  height: 25px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 125px;
    height: 31px;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    width: 192px;
    height: 48px;
  }
}

.logo-link {
  padding-top: 23px;
  padding-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .logo-link {
    padding-top: 32px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .logo-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.button-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 1440px) {
  .button-menu {
    display: none;
  }
}

.button-menu--mobile {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
}
.button-menu--mobile:hover, .button-menu--mobile:focus {
  fill: #487996;
}

.button-hidden {
  display: none;
}

.button-contacts {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button-contacts {
    display: none;
  }
}

.language-menu__btn {
  font-family: Caviar Dreams;
  background-color: transparent;
  height: 18px;
  width: 31px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.01em;
  color: #bdbdbd;
  padding-top: 28px;
  padding-bottom: 28px;
}
@media screen and (min-width: 1440px) {
  .language-menu__btn {
    padding-top: 57px;
    padding-bottom: 70px;
  }
}

.language-menu__btn {
  display: none;
}

.language-menu__btn.active {
  display: block;
}

.header__buttons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .header__buttons {
    gap: 38px;
  }
}
@media (min-width: 1440px) {
  .header__buttons {
    gap: 118px;
  }
}

.menu {
  display: none;
  width: 100%;
  margin-left: 258px;
  padding-top: 54px;
}
@media (min-width: 1440px) {
  .menu {
    display: block;
  }
}
.menu__item--services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.submenu {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  pointer-events: none;
}
.menu__item--services:hover .submenu,
.menu__item--services:focus .submenu {
  opacity: 1;
  pointer-events: initial;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1439px) {
  .menu-container.is-open {
    pointer-events: initial;
    opacity: 1;
  }
}
.phone-menu-container {
  position: absolute;
  outline: 1px solid red;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  top: 150%;
  right: 0;
  width: 162px;
  padding-top: 16px;
  padding-right: 8px;
  padding-left: 5px;
  padding-bottom: 16px;
  background-color: #ffffff;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1439px) {
  .phone-menu-container.is-open {
    pointer-events: initial;
    opacity: 1;
  }
}
.phone-menu__link {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #2b2b2b;
}

.phone-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-phone-menu {
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .button-phone-menu {
    display: none;
  }
}

.mobile-menu {
  padding-top: 112px;
  padding-right: 20px;
  padding-left: 20px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-menu__item {
  text-align: center;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #487996;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu__link--current {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: transparent;
  -webkit-text-stroke: 1px #487996;
}
.mobile-submenu {
  padding-top: 24px;
}
.mobile-submenu__item {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
}
.mobile-submenu__item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-submenu__link {
  display: inline-block;
  position: relative;
}
.mobile-submenu__link::before {
  content: "";
  display: block;
  position: absolute;
  left: -19px;
  top: 11px;
  width: 7px;
  height: 7px;
  background-color: #487996;
  border-radius: 3px 0px;
}

.phone-nav {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  display: none;
}
@media screen and (min-width: 768px) {
  .phone-nav {
    display: block;
    padding-top: 20px;
    padding-bottom: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .phone-nav {
    display: block;
    padding-top: 40px;
    padding-bottom: 55px;
  }
}

.phone-nav__link {
  display: flex;
  align-items: center;
}

.phone-nav__icon {
  margin-right: 4px;
}

.phone-nav__item:not(:last-child) {
  margin-bottom: 10px;
}/*# sourceMappingURL=index.css.map */