<section class="creations">
  <div class="container creations__container">
    <h2 class="creations__title">Способи створення моделі:</h2>

    <ul class="creations__list">
      <li class="creations__item">3D сканування</li>
      <li class="creations__item">На основі фотографій з доданими розмірами</li>
      <li class="creations__item">За ескізами з розмірами</li>
      <li class="creations__item">За вашим кресленням</li>
      <li class="creations__item">
        По вже існуючому прототипу шляхом зняття розмірів
      </li>
    </ul>
    <div class="creations__background"></div>
    <div class="creations__figure1 z-index"></div>
    <div class="creations__figure2 z-index"></div>
  </div>
</section>
