<section class="create">
  <div class="container create__container">
    <h2 class="create__title">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h2>
    <ul class="create__list">
      <li class="create__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling-page/ex1-desk-1x.jpg 1x,
              ./images/3d-modeling-page/ex1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-modeling-page/ex1-tab-1x.jpg 1x,
              ./images/3d-modeling-page/ex1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling-page/ex1-mob-1x.jpg 1x,
              ./images/3d-modeling-page/ex1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="create__img"
            src="./images/3d-modeling-page/ex1-mob-1x.jpg"
            alt="член команди"
          />
        </picture>
      </li>
      <li class="create__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling-page/ex2-desk-1x.jpg 1x,
              ./images/3d-modeling-page/ex2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-modeling-page/ex2-tab-1x.jpg 1x,
              ./images/3d-modeling-page/ex2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling-page/ex2-mob-1x.jpg 1x,
              ./images/3d-modeling-page/ex2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="create__img"
            src="./images/3d-modeling-page/ex2-mob-1x.jpg"
            alt="член команди"
          />
        </picture>
      </li>
      <li class="create__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling-page/ex3-desk-1x.jpg 1x,
              ./images/3d-modeling-page/ex3-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-modeling-page/ex3-tab-1x.jpg 1x,
              ./images/3d-modeling-page/ex3-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling-page/ex3-mob-1x.jpg 1x,
              ./images/3d-modeling-page/ex3-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="create__img"
            src="./images/3d-modeling-page/ex3-mob-1x.jpg"
            alt="член команди"
          />
        </picture>
      </li>
      <li class="create__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling-page/ex4-desk-1x.jpg 1x,
              ./images/3d-modeling-page/ex4-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/3d-modeling-page/ex4-tab-1x.jpg 1x,
              ./images/3d-modeling-page/ex4-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling-page/ex4-mob-1x.jpg 1x,
              ./images/3d-modeling-page/ex4-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="create__img"
            src="./images/3d-modeling-page/ex4-mob-1x.jpg"
            alt="член команди"
          />
        </picture>
      </li>
    </ul>
    <div class="create__btn-wrap">
      <a href="./take-order.html" class="btn create__btn btn-order__link"
        >Зробити замовлення</a
      >
    </div>
    <div class="create__figure z-index"></div>
  </div>
</section>
