<section class="contacts">
  <div class="container contact-container">
    <div class="connect">
      <p class="connect__title">Звʼяжіться з нами</p>
      <form class="contact-form">
        <div class="contact-form__field">
          <input
            type="text"
            class="contact-form__input"
            name="user-name"
            id="user-name"
            placeholder=" "
          />
          <label for="user-name" class="contact-form__lable">Імʼя</label>
        </div>
        <div class="contact-form__field">
          <input
            type="email"
            class="contact-form__input"
            name="user-email"
            id="user-email"
            placeholder=" "
          />
          <label for="user-email" class="contact-form__lable">Email</label>
        </div>
        <div class="contact-form__field-textarea">
          <label for="user-text" class="contact-form__label"
            >Повідомлення</label
          >
          <textarea
            class="contact-form__text"
            name="user-text"
            id="user-text"
            placeholder="Залишіть своє повідомлення"
          ></textarea>
          <input
            class="textarea-attach hidden"
            type="file"
            name="attachment"
            id="textarea-file"
          />
          <label for="textarea-file" class="attach">
            <svg class="textarea-icon" width="22" height="20">
              <use href="/src/images/icons.svg#icon-paper-clip"></use>
            </svg>
          </label>
        </div>
        <p class="textarea-comment">
          *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
        </p>
        <button class="contact-form__btn btn" type="submit">Відправити</button>
      </form>
    </div>
    <div class="rec19 z-index"></div>
    <div class="rec63 z-index"></div>
    <div class="rec65 z-index"></div>
    <div class="rec68 z-index"></div>
    <ul class="contacts__contacts-list">
      <li class="contacts__item">
        <p class="contacts__title">ТЕЛЕФОНИ</p>
        <a href="tel:+380957384551" class="contacts__link"
          >+38 (095) -73-84-551</a
        >
        <a href="tel:+380980025235" class="contacts__link"
          >+38 (098) -00-25-235</a
        >
      </li>
      <li class="contacts__item">
        <p class="contacts__title">Email</p>
        <a href="mailto:3dfreedom.info@gmail.com" class="contacts__link"
          >3dfreedom.info@gmail.com</a
        >
      </li>
      <li class="contacts__item">
        <p class="contacts__title">РОБОЧИЙ ЧАС</p>
        <p class="contacts__text">
          <span>Пн-пт:</span>
          з 8:00 до 19:00
        </p>
        <p class="contacts__text">
          <span>Сб, Нд:</span>
          з 10:00 до 17:00
        </p>
      </li>
    </ul>
    <div class="rectangle-67"></div>
    <div class="rectangle-46"></div>
  </div>
</section>
