<!-- <section class="contact"> -->
<div class="container">
  <div class="connect">
    <h2 class="connect__title">Звʼяжіться з нами</h2>
    <form class="contact-form">
      <div class="contact-form__field">
        <input
          type="text"
          class="contact-form__input"
          name="user-name"
          id="user-name"
          placeholder="Імʼя"
          autofocus
        />
      </div>
      <div class="contact-form__field">
        <input
          type="mail"
          class="contact-form__input"
          name="user-mail"
          id="user-mail"
          placeholder="Email"
        />
      </div>
      <div class="contact-form__field-textarea">
        <label for="user-text" class="contact-form__label">Повідомлення</label>
        <textarea
          type="text"
          class="contact-form__text"
          name="user-text"
          id="user-text"
          placeholder="Залишіть своє повідомлення"
        ></textarea>
        <label class="textarea-clip">
          <svg class="textarea-icon" width="22" height="20">
            <use
              href="/src/images/icons.svg#icon-simple-line-icons_paper-clip"
            ></use>
          </svg>
        </div>
      </div>
      <p class="textarea-comment">
        *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
      </p>
      <button class="contact-form__button" type="submit">Відправити</button>
    </form>
  </div>
</div>
<!-- </section> -->
