<section class="contacts-hero">
  <div class="container contacts-hero__container">
    <h2 class="contacts-hero__header">контакти</h2>
    <div class="contacts-hero__tumb">
      
        <div class="video-wrapper">
          <div class="video-overlay"></div>
          <iframe  src="https://www.youtube.com/embed/pNYRR3ZfoHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
      



      <div class="contacts-hero__text">
        <p class="contacts-hero__par">
          Людина уперше побачивши процес 3D друку може легко захопитися
          спостереженням за цим процесом не на десяток хвилин.
        </p>
        <p class="contacts-hero__par">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </p>
        <p class="contacts-hero__par">Приємного перегляду!<span class="contacts-hero__span"> &#x1f609 </span></p>
      </div>
    </div>
    <div class="figura1"></div>
  <div class="figura2"></div>
  <div class="figura3"></div>
  <div class="figura4"></div>

  </div>
  
</section>
<script>
  document.querySelector(".video-overlay").onclick = function(){
	this.style.display = "none";
}
</script>

