.morephoto {
  padding-top: 60px;
  padding-bottom: 156px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 121px;
  }
}
.morephoto-indent {
  position: relative;
  @media screen and (min-width: 767px) and (max-width: 803px) {
    overflow: hidden;
  }
  /*
  @media screen and (max-width: 509px) {
    overflow: hidden;
  }
*/
}
.morephoto-title {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;

  color: #487996;
  @media screen and (max-width: 1440px) {
    font-size: 36px;
    line-height: 1.25;

    color: #487996;
  }
  @media screen and (max-width: 1439px) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 16px;
  }
}

.masonry {
  display: flex;
  width: 100%;
  max-width: 1142px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    width: 100%;
    max-width: 704px;
    margin-left: auto;
    margin-right: auto;
  }
}

.masonry--h {
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    display: block;
  }
}

.masonry-brick {
  margin: 0 0 32px 32px;
  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.masonry-brick:nth-child(3) {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.masonry-brick:nth-child(n + 4) {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.pictures-hover {
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pictures-hover:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.644), 0px 8px 8px rgba(0, 0, 0, 0.849),
    2px 8px 12px rgba(0, 0, 0, 0.16);
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
img {
  vertical-align: middle;
  max-width: 100%;
}

.masonry-brick:nth-child(1) {
  margin-left: 0;
}
.masonry-brick:nth-child(4) {
  margin-left: 0;
}
.masonry-brick:nth-child(7) {
  margin-left: 0;
}
.masonry-brick:nth-child(10) {
  margin-left: 0;
}
.masonry-brick:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.morephoto-box1 {
  z-index: -1;
  position: absolute;
  left: 29.85px;
  top: 430px;
  width: 140.9px;
  height: 145px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;

  @media screen and (max-width: 1439px) {
    width: 73.65px;
    height: 74.05px;
    top: 13.55px;
    left: 32px;
    border-radius: 0px 0px 0px 35px;
  }

  @media screen and (max-width: 768px) {
    width: 73.65px;
    height: 74.05px;
    top: -24.17px;
    left: -18px;
    border-radius: 0px 0px 0px 35px;
  }
}
.morephoto-box2 {
  z-index: -1;
  position: absolute;
  left: 1265.34px;
  top: 430px;
  width: 144px;
  height: 142.81px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px 0px;
  transform: rotate(90deg);

  @media screen and (max-width: 1439px) {
    width: 74.05px;
    height: 73.65px;
    top: -17px;
    left: 662px;
    border-radius: 25px 0px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.morephoto-box3 {
  z-index: -1;
  position: absolute;
  left: -58px;
  top: 970px;
  width: 144.18px;
  height: 144.29px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;

  @media screen and (max-width: 1439px) {
    width: 73.65px;
    height: 74.05px;
    top: 329.23px;
    left: -17px;
    border-radius: 72px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.morephoto-box5 {
  z-index: -1;
  position: absolute;
  left: 1121.56px;
  top: 1253px;
  width: 143.77px;
  height: 116px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;

  @media screen and (max-width: 1439px) {
    z-index: -1;
    width: 73.65px;
    height: 74.05px;
    top: -60px;
    left: 105.65px;
    border-radius: 0px 35px 0px 0px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.morephoto-box6 {
  @media screen and (min-width: 768px) {
    z-index: -1;
    position: absolute;
    width: 73.65px;
    height: 74.05px;
    left: 588.59px;
    top: 433.1px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
  }

  @media screen and (min-width: 1440px) {
    width: 144.18px;
    height: 144.29px;
    border-radius: 0px 72px 0px 0px;
    left: 174px;
    top: 309px;
  }
}

.morephoto-loading {
  position: absolute;
  display: inline-flex;
  bottom: -61px;
  left: 50%;
  margin-left: -22.5px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }
}
.morephoto-box3 {
  z-index: -1;
  position: absolute;
  left: -58px;
  top: 970px;
  width: 144.18px;
  height: 144.29px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;

  @media screen and (max-width: 1440px) {
    width: 73.65px;
    height: 74.05px;
    top: 339.23px;
    left: -17px;
    border-radius: 72px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.morephoto-box4 {
  z-index: -1;
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  right: -15px;
  top: 266px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    width: 142.81px;
    height: 145px;
    border-radius: 72px 0px;
    right: 0;
    top: 1108;
  }
}

.morephoto-box5 {
  z-index: -1;
  position: absolute;
  left: 1121.56px;
  top: 1253px;
  width: 143.77px;
  height: 116px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 72px;

  @media screen and (max-width: 1440px) {
    z-index: -1;
    width: 73.65px;
    height: 74.05px;
    top: -60px;
    left: 105.65px;
    border-radius: 0px 35px 0px 0px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.morephoto-loading {
  position: absolute;
  display: inline-flex;
  bottom: -61px;
  left: 50%;
  margin-left: -22.5px;
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    bottom: -57px;
  }
}

.morephoto-icon {
  width: 45px;
  height: 45px;
}

/*Slick-slider*/

.slick-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 74%;
  padding-left: 0;
  padding-right: 0;

  @media screen and (min-width: 480px) {
    max-width: 440px;
  }

  @media screen and (min-width: 768px) {
    max-width: 554px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 906px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  // padding: 93px 15px;
  overflow-y: scroll;

  visibility: visible;
  opacity: 1;
  transition: all 500ms linear;
  background-color: #2b2b2bcc;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

body.slick-open {
  overflow: hidden;
}

.slick-container__close-btn {
  display: none;
}

.slick__close-btn {
  width: 100%;
  height: 100%;
}

.carousel-control-next {
  right: -35px;

  @media screen and (min-width: 480px) {
    right: -70px;
  }

  @media screen and (min-width: 768px) {
    right: -70px;
  }

  @media screen and (min-width: 1440px) {
    right: -110px;
  }
}

.carousel-control-prev {
  left: -35px;

  @media screen and (min-width: 480px) {
    left: -70px;
  }

  @media screen and (min-width: 768px) {
    left: -70px;
  }

  @media screen and (min-width: 1440px) {
    left: -110px;
  }
}
