.more-foto {
    position: relative;
    max-width: 1440px;
}
.more-foto-pd{
    padding-top: 60px;
    padding-bottom: 78px;

    @media screen and (max-width: 768px) {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    @media screen and (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 60.5px;
    }
}
.more-foto__title {
    
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;

    color: #487996;

     @media screen and (max-width: 768px) {
      font-size: 36px;
      line-height: 1.25;
      margin-bottom: 32px;
     }

     @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 16px;
     }
}

.masonry {
    display: flex;
    width: 100%;
    max-width: 1142px;
    margin-left: auto;
    margin-right: auto; 
}



.masonry--h {
  //flex-flow: row wrap;
    //flex-direction: row;
    flex-wrap: wrap;
}

.masonry-brick--h {
   @media only screen and (max-width: 1440px) and (min-width: 768px) {
}
}
.masonry-brick {
  margin: 0 0 32px 32px;
}
.masonry-img {
  object-fit: cover;
  object-fit: none;
  width: 100%;
  height: 100%;
}
img {
  //vertical-align: middle;
  //max-width: 100%;
}



.masonry-brick:nth-child(1) {
    margin-left: 0;
}
.masonry-brick:nth-child(4) {
    margin-left: 0;
}
.masonry-brick:nth-child(7) {
    margin-left: 0;
}
.masonry-brick:nth-child(10) {
    margin-left: 0;
}
.masonry-brick:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.box1 {
    z-index: -1;
    position: absolute;
    left: 29.85px;
    top: 490px;
    width: 140.9px;
    height: 145px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 72px;

    @media screen and (max-width: 768px) {
      width: 73.65px;
      height: 74.05px;
      top: 43.55px;
      left: 32px;
      border-radius: 0px 0px 0px 35px;
     }

     @media screen and (max-width: 480px) {
      width: 73.65px;
      height: 74.05px;
      top: -4.17px;
      left: -18px;
      border-radius: 0px 0px 0px 35px;
     }
}
.box2 {
    z-index: -1;
    position: absolute;
    left: 1265.34px;
    top: 490px;
    width: 144px;
    height: 142.81px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
    transform: rotate(90deg);

    @media screen and (max-width: 768px) {
      width: 74.05px;
      height: 73.65px;
      top: 13px;
      left: 662px;
      border-radius: 25px 0px;
     }

       @media screen and (max-width: 480px) {
      width: 73.65px;
      height: 73.65px;
      top: -41px;
      left: 267px;
      border-radius: 25px 0px;
     }
}
.box3 {
    z-index: -1;
    position: absolute;
    left: -58px;
    top: 1030px;
    width: 144.18px;
    height: 144.29px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;

    @media screen and (max-width: 768px) {
      width: 73.65px;
      height: 74.05px;
      top: 369.23px;
      left: -17px;
      border-radius: 72px;
     }

     @media screen and (max-width: 480px) {
     display: none;
     }
}
.box4 {
    z-index: -1;
    position: absolute;
    left: 1265.34px;
    top: 1168px;
    width: 142.81px;
    height: 145px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;

    @media screen and (max-width: 768px) {
      display: none;
    }
    
     @media screen and (max-width: 480px) {
      width: 73.65px;
      height: 73.65px;
      top: 285.84px;
      left: 261px;
      border-radius: 25px 0px;
     }
}
.box5 {
    position: absolute;
    left: 1121.56px;
    top: 1313px;
    width: 143.77px;
    height: 116px;
    background: #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 72px;

     @media screen and (max-width: 768px) {
      z-index: -1;
      width: 73.65px;
      height: 74.05px;
      top: -30px;
      left: 105.65px;
      border-radius: 0px 35px 0px 0px;
     }

     @media screen and (max-width: 480px) {
     display: none;
     }
    }