<!-- GALLERY -->
<section class="gallery">
  <div class="container gallery__container">
    <div class="gallery__decor gallery__decor--a z-index"></div>
    <div class="gallery__decor gallery__decor--b z-index"></div>
    <div class="gallery__decor gallery__decor--c z-index"></div>
    <div class="gallery__decor gallery__decor--d z-index"></div>
    <div class="gallery__decor gallery__decor--e z-index"></div>
    <h2 class="gallery__title lang" id="gallery" key="maingallerytitle">
      ГАЛЕРЕЯ
    </h2>

    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/gallery/1x/engineer-meth-desk.jpg   1x,
              ./images/main-page/gallery/2x/engineer-meth-desk2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/engineer-meth-tab.jpg   1x,
              ./images/main-page/gallery/2x/engineer-meth-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/engineer-meth-desk.jpg   1x,
              ./images/main-page/gallery/2x/engineer-meth-desk2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/engineer-meth.jpg   1x,
              ./images/main-page/gallery/2x/engineer-meth2x.jpg 2x
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/main-page/gallery/1x/engineer-meth-desk.jpg"
            alt="plastic part"
          />
        </picture>

        <h3 class="gallery__subtitle lang" key="maingallerytext1">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/gallery/1x/scan-desk.jpg   1x,
              ./images/main-page/gallery/2x/scan-desk2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/scan-tab.jpg   1x,
              ./images/main-page/gallery/2x/scan-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/scan-desk.jpg   1x,
              ./images/main-page/gallery/2x/scan-desk2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/scan.jpg   1x,
              ./images/main-page/gallery/2x/scan2x.jpg 2x
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/main-page/gallery/1x/scan-desk.jpg"
            alt="scanning machine"
          />
        </picture>
        <h3 class="gallery__subtitle lang" key="maingallerytext2">
          Високоточне 3D сканування
        </h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/gallery/1x/copy-desk.jpg   1x,
              ./images/main-page/gallery/2x/copy-desk2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/copy-tab.jpg   1x,
              ./images/main-page/gallery/2x/copy-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/copy-desk.jpg   1x,
              ./images/main-page/gallery/2x/copy-desk2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/copy.jpg   1x,
              ./images/main-page/gallery/2x/copy2x.jpg 2x
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/main-page/gallery/1x/copy-desk.jpg"
            alt="plastic part"
          />
        </picture>

        <h3 class="gallery__subtitle lang" key="maingallerytext3">
          Створення точної копії на базі сканування reverse engineering
        </h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/gallery/1x/cycles-desk.jpg   1x,
              ./images/main-page/gallery/2x/cycles-desk2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/cycles-tab.jpg   1x,
              ./images/main-page/gallery/2x/cycles-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/cycles-desk.jpg   1x,
              ./images/main-page/gallery/2x/cycles-desk2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/main-page/gallery/1x/cycles.jpg   1x,
              ./images/main-page/gallery/2x/cycles2x.jpg 2x
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/main-page/gallery/1x/cycles-desk.jpg"
            alt="creating project"
          />
        </picture>
        <h3 class="gallery__subtitle lang" key="maingallerytext4">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section>
