<!-- GALLERY -->
<section class="gallery">
  <div class="container">
    
   <div class="gallery__wrap">
    <div class="gallery__decor gallery__decor--a"></div>
    <div class="gallery__decor gallery__decor--b"></div>
    <div class="gallery__decor gallery__decor--c"></div>
    <div class="gallery__decor gallery__decor--d"></div>
    <div class="gallery__decor gallery__decor--e"></div>
        <h2 class="gallery__title">ГАЛЕРЕЯ</h2>

    
     <ul class="gallery__list list">
       <li class="gallery__item">
         <picture>
           <source
             srcset="
               ./images/main-page/gallery/1x/engineer-meth-tab.jpg   1x,
               ./images/main-page/gallery/2x/engineer-meth-tab2x.jpg 2x
             "
             media="(min-width: 768px)"
           />
           <source
             srcset="
               ./images/main-page/gallery/1x/engineer-meth.jpg   1x,
               ./images/main-page/gallery/2x/engineer-meth2x.jpg 2x
             "
             media="(max-width: 767px)"
           />
           
           <img
             src="./images/main-page/gallery/1x/engineer-meth.jpg"
             alt="plastic part"
           />
           <!-- тут має бути найбільше зображення, тобто, с десктопа -->
         </picture>
         <h3 class="gallery__subtitle">
           Інженерні методи аналізу та контролю якості
         </h3>
       </li>
       <li class="gallery__item">
         <picture>
          <source
             srcset="
               ./images/main-page/gallery/1x/scan-tab.jpg   1x,
               ./images/main-page/gallery/2x/scan-tab2x.jpg 2x
             "
             media="(min-width: 768px)"
           />
           <source
             srcset="
               ./images/main-page/gallery/1x/scan.jpg   1x,
               ./images/main-page/gallery/2x/scan2x.jpg 2x
             "
             media="(max-width: 767px)"
           />
           <img
             src="./images/main-page/gallery/1x/scan.jpg"
             alt="scanning machine"
           />
           <!-- тут має бути найбільше зображення, тобто, с десктопа -->
         </picture>
         <h3 class="gallery__subtitle">Високоточне 3D сканування</h3>
       </li>
       <li class="gallery__item">
         <picture>
          <source
             srcset="
               ./images/main-page/gallery/1x/copy-tab.jpg   1x,
               ./images/main-page/gallery/2x/copy-tab2x.jpg 2x
             "
             media="(min-width: 768px)"
           />
           <source
             srcset="
               ./images/main-page/gallery/1x/copy.jpg   1x,
               ./images/main-page/gallery/2x/copy2x.jpg 2x
             "
             media="(max-width: 767px)"
           />
           <img
             src="./images/main-page/gallery/1x/copy.jpg"
             alt="plastic part"
           />
           <!-- тут має бути найбільше зображення, тобто, с десктопа -->
         </picture>
         <h3 class="gallery__subtitle">
           Створення точної копії на базі сканування reverse engineering
         </h3>
       </li>
       <li class="gallery__item">
         <picture>
          <source
             srcset="
               ./images/main-page/gallery/1x/cycles-tab.jpg   1x,
               ./images/main-page/gallery/2x/cycles-tab2x.jpg 2x
             "
             media="(min-width: 768px)"
           />
           <source
             srcset="
               ./images/main-page/gallery/1x/cycles.jpg   1x,
               ./images/main-page/gallery/2x/cycles2x.jpg 2x
             "
             media="(max-width: 767px)"
           />
           <img
             src="./images/main-page/gallery/1x/cycles.jpg"
             alt="creating project"
           />
           <!-- тут має бути найбільше зображення, тобто, с десктопа -->
         </picture>
         <h3 class="gallery__subtitle">
           Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
         </h3>
       </li>
     </ul>
   </div cl>
  </div>
</section>
