<section class="main-hero">
  <div class="container main-hero__container">
    <div class="main-hero__decor main-hero__decor--a z-index"></div>
    <div class="main-hero__decor main-hero__decor--b z-index"></div>
    <div class="main-hero__decor main-hero__decor--c z-index"></div>
    <div class="main-hero__decor main-hero__decor--d z-index"></div>
    <div class="main-hero__decor main-hero__decor--e z-index">
      <a class="main-hero__link link" href="#gallery">
        <svg
          class="main-hero__icon"
          width="16.5"
          height="16.5"
          aria-label="посилання для преходу в галерею"
        >
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="main-hero__decor main-hero__decor--f z-index"></div>
    <div class="main-hero__decor main-hero__decor--g z-index"></div>
    <div class="main-hero__decor main-hero__decor--h z-index"></div>
    <div class="main-hero__decor main-hero__decor--i z-index"></div>
    <div class="main-hero__decor main-hero__decor--j z-index"></div>
    <div class="main-hero__decor main-hero__decor--k z-index"></div>
    <div class="main-hero__decor main-hero__decor--l z-index"></div>
    <div class="main-hero__decor main-hero__decor--m z-index"></div>
    <h1 class="main-hero__title lang" key="mainherotitle">
      Інженерна, конструкторська та дизайнерська робота
    </h1>
    <ul class="main-hero__list">
      <li class="main-hero__item main-hero__item--robo">
        <picture>
          <source
            srcset="
              ./images/main-page/hero/1x/robo-desk.jpg   1x,
              ./images/main-page/hero/2x/robo-desk2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/robo-tab.jpg   1x,
              ./images/main-page/hero/2x/robo-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/robo-desk.jpg   1x,
              ./images/main-page/hero/2x/robo-desk2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/robo.jpg   1x,
              ./images/main-page/hero/2x/robo2x.jpg 2x
            "
            media="(max-width: 320px)"
          />

          <img src="./images/main-page/hero/1x/robo.jpg" alt="plastic robot" />
        </picture>
      </li>
      <li class="main-hero__item main-hero__item--lamps">
        <picture>
          <source
            srcset="
              ./images/main-page/hero/1x/lamps-desk.jpg   1x,
              ./images/main-page/hero/2x/lamps-desk2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/lamps-tab.jpg   1x,
              ./images/main-page/hero/2x/lamps-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/lamps-desk.jpg   1x,
              ./images/main-page/hero/2x/lamps-desk2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/lamps.jpg   1x,
              ./images/main-page/hero/2x/lamps2x.jpg 2x
            "
            media="(max-width: 320px)"
          />

          <img src="./images/main-page/hero/1x/lamps.jpg" alt="table lamps" />
        </picture>
      </li>
      <li class="main-hero__item main-hero__item--scull">
        <picture>
          <source
            srcset="
              ./images/main-page/hero/1x/scull-desk.jpg   1x,
              ./images/main-page/hero/2x/scull-desk2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/scull-tab.jpg   1x,
              ./images/main-page/hero/2x/scull-tab2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/scull-desk.jpg   1x,
              ./images/main-page/hero/2x/scull-desk2x.jpg 2x
            "
            media="(min-width: 321px)"
          />
          <source
            srcset="
              ./images/main-page/hero/1x/scull.jpg   1x,
              ./images/main-page/hero/2x/scull2x.jpg 2x
            "
            media="(max-width: 320px)"
          />

          <img src="./images/main-page/hero/1x/scull.jpg" alt="plastic scull" />
        </picture>
      </li>
    </ul>
    <p class="main-hero__text lang" key="mainherotext">
      Ми втілюємо ідеї в реальність
    </p>
  </div>
</section>
