<section class="more-foto">
    <div class="container more-foto-pd">
    <h2 class="more-foto__title">БІЛЬШЕ ФОТО</h2>
        <div class="masonry masonry--h">
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/design-high-quality-3d-model.jpg" class="masonry-img" alt="Masonry Brick #1">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/3d-printed-architectural-model.jpg" class="masonry-img" alt="Masonry Brick #2">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/robot-wall-e-3d-model.jpg" class="masonry-img" alt="Masonry Brick #3">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/human-skull-3d-model.jpg" class="masonry-img" alt="Masonry Brick #4">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/T-29-tank-3d-model.jpg" class="masonry-img" alt="Masonry Brick #5">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/two-lamp-pixar-3d-model.jpg" class="masonry-img" alt="Masonry Brick #6">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/supercar-bugatti-3d-model.jpg" class="masonry-img" alt="Masonry Brick #7">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/usa-capitol-3d-model.jpg" class="masonry-img" alt="Masonry Brick #8">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/mushroom-lamp-3d-model.jpg" class="masonry-img" alt="Masonry Brick #9">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/nox-sleepace-3d-model.jpg" class="masonry-img" alt="Masonry Brick #10">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/tesla-cybertruck-3d-model.jpg" class="masonry-img" alt="Masonry Brick #11">
            </figure>
            <figure class="masonry-brick masonry-brick--h">
                <img src="./images/main-page/more-foto/flower-pots-3d-model.jpg" class="masonry-img" alt="Masonry Brick #12">
            </figure>  
        </div>
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
            <div class="box4"></div>
            <div class="box5"></div>
    </div>
</section>


	