<section class="morephoto">
  <div class="container morephoto-indent">
    <h2 class="morephoto-title">БІЛЬШЕ ФОТО</h2>
    <div class="masonry masonry--h">
      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\design-high-quality-3d-model.jpg    1x,
              .\images\main-page\more-foto\design-high-quality-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\design-high-quality-tablet.jpg    1x,
              .\images\main-page\more-foto\design-high-quality-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\design-high-quality-tablet.jpg    1x,
              .\images\main-page\more-foto\design-high-quality-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 321px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\design-high-quality-mobile.jpg 1x,
              .\images\main-page\more-foto\design-high-quality-mobile-2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 320px)"
          />
          
          <img
            src=".\images\main-page\more-foto\design-high-quality-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\3d-printed-architectural-model.jpg    1x,
              .\images\main-page\more-foto\3d-printed-architectural-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\3d-printed-architectural-tablet.jpg    1x,
              .\images\main-page\more-foto\3d-printed-architectural-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\3d-printed-architectural-mobile.jpg    1x,
              .\images\main-page\more-foto\3d-printed-architectural-mobile-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\3d-printed-architectural-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\robot-wall-e-3d-model.jpg    1x,
              .\images\main-page\more-foto\robot-wall-e-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\robot-wall-e-tablet.jpg    1x,
              .\images\main-page\more-foto\robot-wall-e-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

           <source
            srcset="
              .\images\main-page\more-foto\robot-wall-e-mobile.jpg    1x,
              .\images\main-page\more-foto\robot-wall-e-mobile-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 321px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\robot-wall-e-mobile.jpg    1x,
              .\images\main-page\more-foto\robot-wall-e-mobile-2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 320px)"
          />
          <img
            src=".\images\main-page\more-foto\robot-wall-e-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\human-skull-3d-model.jpg    1x,
              .\images\main-page\more-foto\human-ckull-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\human-ckull-tablet.jpg    1x,
              .\images\main-page\more-foto\human-ckull-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\human-ckull-tablet.jpg    1x,
              .\images\main-page\more-foto\human-ckull-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\human-skull-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\T-29-tank-3d-model.jpg    1x,
              .\images\main-page\more-foto\T-29-tank-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\T-29-tank-tablet.jpg    1x,
              .\images\main-page\more-foto\T-29-tank-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\T-29-tank-tablet.jpg    1x,
              .\images\main-page\more-foto\T-29-tank-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\T-29-tank-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\two-lamp-pixar-3d-model.jpg    1x,
              .\images\main-page\more-foto\two-lamp-pixar-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\two-lamp-pixar-tablet.jpg    1x,
              .\images\main-page\more-foto\two-lamp-pixar-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\two-lamp-pixar-tablet.jpg    1x,
              .\images\main-page\more-foto\two-lamp-pixar-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\two-lamp-pixar-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\supercar-bugatti-3d-model.jpg    1x,
              .\images\main-page\more-foto\supercar-bugatti-3d-model-2x.jpg
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\supercar-bugatti-tablet.jpg    1x,
              .\images\main-page\more-foto\supercar-bugatti-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\supercar-bugatti-tablet.jpg    1x,
              .\images\main-page\more-foto\supercar-bugatti-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\supercar-bugatti-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\usa-capitol-3d-model.jpg    1x,
              .\images\main-page\more-foto\usa-capitol-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\usa-capitol-tablet.jpg    1x,
              .\images\main-page\more-foto\usa-capitol-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              .\images\main-page\more-foto\usa-capitol-tablet.jpg    1x,
              .\images\main-page\more-foto\usa-capitol-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\usa-capitol-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\mushroom-lamp-3d-model.jpg    1x,
              .\images\main-page\more-foto\muchroom-lamp-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              .\images\main-page\more-foto\muchroom-lamp-tablet.jpg    1x,
              .\images\main-page\more-foto\muchroom-lamp-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <!---->
          <source
            srcset="
              .\images\main-page\more-foto\muchroom-lamp-tablet.jpg    1x,
              .\images\main-page\more-foto\muchroom-lamp-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\mushroom-lamp-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\nox-sleepace-3d-model.jpg    1x,
              .\images\main-page\more-foto\nox-sleepace-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              .\images\main-page\more-foto\nox-sleepace-tablet.jpg    1x,
              .\images\main-page\more-foto\nox-sleepace-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              .\images\main-page\more-foto\nox-sleepace-tablet.jpg    1x,
              .\images\main-page\more-foto\nox-sleepace-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\nox-sleepace-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\tesla-cybertruck-3d-model.jpg    1x,
              .\images\main-page\more-foto\tesla-cybertruck-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              .\images\main-page\more-foto\tesla-cybertruck-tablet.jpg    1x,
              .\images\main-page\more-foto\tesla-cybertruck-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              .\images\main-page\more-foto\tesla-cybertruck-tablet.jpg    1x,
              .\images\main-page\more-foto\tesla-cybertruck-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\tesla-cybertruck-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture>
          <source
            srcset="
              .\images\main-page\more-foto\flower-pots-3d-model.jpg    1x,
              .\images\main-page\more-foto\flower-post-3d-model-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              .\images\main-page\more-foto\flower-pots-tablet.jpg    1x,
              .\images\main-page\more-foto\flower-pots-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              .\images\main-page\more-foto\flower-pots-tablet.jpg    1x,
              .\images\main-page\more-foto\flower-pots-tablet-2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 480px)"
          />
          <img
            src=".\images\main-page\more-foto\flower-pots-3d-model.jpg"
            class="masonry-img"
            alt="Masonry Brick #1"
          />
        </picture>
      </figure>
    </div>

    <div class="morephoto-box1"></div>
    <div class="morephoto-box2"></div>
    <div class="morephoto-box3"></div>
    <div class="morephoto-box4"></div>
    <div class="morephoto-box5"></div>
    <div class="morephoto-loading">
      <svg class="morephoto-icon" width="45" height="45" >
          <use href=".\images\main-page\more-foto\symbol-defs.svg#icon-icon-loader" ></use>
      </svg>
    </div>
  </div>
</section>
