<section class="morephoto">
  <div class="container morephoto-indent">
    <h2 class="morephoto-title lang" key="mainmorephototitle">БІЛЬШЕ ФОТО</h2>
    <div class="masonry masonry--h" data-slick-open>
      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-3d-model.jpg    1x,
              ./images/main-page/more-foto/design-high-quality-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-tablet.jpg    1x,
              ./images/main-page/more-foto/design-high-quality-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-tablet.jpg    1x,
              ./images/main-page/more-foto/design-high-quality-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 321px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-mobile.jpg    1x,
              ./images/main-page/more-foto/design-high-quality-mobile-2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 320px)"
          />

          <img
            src="./images/main-page/more-foto/design-high-quality-3d-model.jpg"
            class="masonry-img"
            alt="Design-high-quality-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/3d-printed-architectural-model.jpg    1x,
              ./images/main-page/more-foto/3d-printed-architectural-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/3d-printed-architectural-tablet.jpg    1x,
              ./images/main-page/more-foto/3d-printed-architectural-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/3d-printed-architectural-mobile.jpg    1x,
              ./images/main-page/more-foto/3d-printed-architectural-mobile-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/3d-printed-architectural-model.jpg"
            class="masonry-img"
            alt="3d-printed-architectural-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-3d-model.jpg    1x,
              ./images/main-page/more-foto/robot-wall-e-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-tablet.jpg    1x,
              ./images/main-page/more-foto/robot-wall-e-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-mobile.jpg    1x,
              ./images/main-page/more-foto/robot-wall-e-mobile-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 321px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-mobile.jpg    1x,
              ./images/main-page/more-foto/robot-wall-e-mobile-2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 320px)"
          />
          <img
            src="./images/main-page/more-foto/robot-wall-e-3d-model.jpg"
            class="masonry-img"
            alt="Robot-wall-e-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/human-skull-3d-model.jpg    1x,
              ./images/main-page/more-foto/human-ckull-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/human-ckull-tablet.jpg    1x,
              ./images/main-page/more-foto/human-ckull-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/human-ckull-tablet.jpg    1x,
              ./images/main-page/more-foto/human-ckull-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/human-skull-3d-model.jpg"
            class="masonry-img"
            alt="Human-skull-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/T-29-tank-3d-model.jpg    1x,
              ./images/main-page/more-foto/T-29-tank-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/T-29-tank-tablet.jpg    1x,
              ./images/main-page/more-foto/T-29-tank-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/T-29-tank-tablet.jpg    1x,
              ./images/main-page/more-foto/T-29-tank-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/T-29-tank-3d-model.jpg"
            class="masonry-img"
            alt="T-29-tank-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/two-lamp-pixar-3d-model.jpg    1x,
              ./images/main-page/more-foto/two-lamp-pixar-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/two-lamp-pixar-tablet.jpg    1x,
              ./images/main-page/more-foto/two-lamp-pixar-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/two-lamp-pixar-tablet.jpg    1x,
              ./images/main-page/more-foto/two-lamp-pixar-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/two-lamp-pixar-3d-model.jpg"
            class="masonry-img"
            alt="Two-lamp-pixar-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/supercar-bugatti-3d-model.jpg    1x,
              ./images/main-page/more-foto/supercar-bugatti-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/supercar-bugatti-tablet.jpg    1x,
              ./images/main-page/more-foto/supercar-bugatti-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/supercar-bugatti-tablet.jpg    1x,
              ./images/main-page/more-foto/supercar-bugatti-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/supercar-bugatti-3d-model.jpg"
            class="masonry-img"
            alt="Supercar-bugatti-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/usa-capitol-3d-model.jpg    1x,
              ./images/main-page/more-foto/usa-capitol-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/usa-capitol-tablet.jpg    1x,
              ./images/main-page/more-foto/usa-capitol-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/usa-capitol-tablet.jpg    1x,
              ./images/main-page/more-foto/usa-capitol-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/usa-capitol-3d-model.jpg"
            class="masonry-img"
            alt="USA-Capitol-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/mushroom-lamp-3d-model.jpg    1x,
              ./images/main-page/more-foto/muchroom-lamp-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/muchroom-lamp-tablet.jpg    1x,
              ./images/main-page/more-foto/muchroom-lamp-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <!---->
          <source
            srcset="
              ./images/main-page/more-foto/muchroom-lamp-tablet.jpg    1x,
              ./images/main-page/more-foto/muchroom-lamp-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/mushroom-lamp-3d-model.jpg"
            class="masonry-img"
            alt="Mushroom-lamp-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/nox-sleepace-3d-model.jpg    1x,
              ./images/main-page/more-foto/nox-sleepace-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/nox-sleepace-tablet.jpg    1x,
              ./images/main-page/more-foto/nox-sleepace-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/nox-sleepace-tablet.jpg    1x,
              ./images/main-page/more-foto/nox-sleepace-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/nox-sleepace-3d-model.jpg"
            class="masonry-img"
            alt="Nox-sleepace-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/tesla-cybertruck-3d-model.jpg    1x,
              ./images/main-page/more-foto/tesla-cybertruck-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/tesla-cybertruck-tablet.jpg    1x,
              ./images/main-page/more-foto/tesla-cybertruck-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/tesla-cybertruck-tablet.jpg    1x,
              ./images/main-page/more-foto/tesla-cybertruck-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/tesla-cybertruck-3d-model.jpg"
            class="masonry-img"
            alt="Tesla-cybertruck-3d-model"
          />
        </picture>
      </figure>

      <figure class="masonry-brick masonry-brick--h">
        <picture class="pictures-hover">
          <source
            srcset="
              ./images/main-page/more-foto/flower-pots-3d-model.jpg    1x,
              ./images/main-page/more-foto/flower-post-3d-model-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/flower-pots-tablet.jpg    1x,
              ./images/main-page/more-foto/flower-pots-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/flower-pots-tablet.jpg    1x,
              ./images/main-page/more-foto/flower-pots-tablet-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/flower-pots-3d-model.jpg"
            class="masonry-img"
            alt="Flower-pots-3d-model"
          />
        </picture>
      </figure>
    </div>

    <div class="morephoto-box1 z-index"></div>
    <div class="morephoto-box2 z-index"></div>
    <div class="morephoto-box3 z-index"></div>
    <div class="morephoto-box4 z-index"></div>
    <div class="morephoto-box5 z-index"></div>
    <div class="morephoto-box6 z-index"></div>

    <div class="morephoto-loading">
      <svg class="morephoto-icon" width="45" height="45">
        <use
          href="./images/main-page/more-foto/symbol-defs.svg#icon-icon-loader"
        ></use>
      </svg>
    </div>
  </div>
</section>

<div class="backdrop is-hidden" data-slick>
  <div class="slick__close-btn" data-slick-close></div>
    <div class="container slick-container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="6"
            aria-label="Slide 7"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="7"
            aria-label="Slide 8"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="8"
            aria-label="Slide 9"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="9"
            aria-label="Slide 10"
          ></button>
            <button
              class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="10"
            aria-label="Slide 11"
          ></button>
          <button
            class="display-none"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="11"
            aria-label="Slide 12"
          ></button>
        </div>

        <div class="carousel-inner">

          <div class="carousel-item active">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 321px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/design-high-quality-mobile-2x.jpg 
            "
            type="image/jpg"
            media="(max-width: 320px)"
          />

          <img
              src="./images/main-page/more-foto/design-high-quality-3d-model-2x.jpg"
              class="d-block w-100"
              alt="Design-high-quality-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/3d-printed-architectural-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/3d-printed-architectural-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/3d-printed-architectural-mobile-2x.jpg 
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/3d-printed-architectural-model-2x.jpg"
              class="d-block w-100"
              alt="3d-printed-architectural-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-mobile-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 321px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/robot-wall-e-mobile-2x.jpg
            "
            type="image/jpg"
            media="(max-width: 320px)"
          />
          <img
            src="./images/main-page/more-foto/robot-wall-e-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Robot-wall-e-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/human-ckull-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/human-ckull-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/human-ckull-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/human-ckull-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Human-skull-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/T-29-tank-3d-model-2x.jpg 
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/T-29-tank-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/T-29-tank-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/T-29-tank-3d-model-2x.jpg"
            class="d-block w-100"
            alt="T-29-tank-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/two-lamp-pixar-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/two-lamp-pixar-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/two-lamp-pixar-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/two-lamp-pixar-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Two-lamp-pixar-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/supercar-bugatti-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/supercar-bugatti-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/supercar-bugatti-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/supercar-bugatti-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Supercar-bugatti-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/usa-capitol-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/usa-capitol-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/main-page/more-foto/usa-capitol-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/usa-capitol-3d-model-2x.jpg"
            class="d-block w-100"
            alt="USA-Capitol-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/muchroom-lamp-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/muchroom-lamp-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <!---->
          <source
            srcset="
              ./images/main-page/more-foto/muchroom-lamp-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/muchroom-lamp-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Mushroom-lamp-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/nox-sleepace-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/nox-sleepace-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/nox-sleepace-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/nox-sleepace-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Nox-sleepace-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
             <picture>
          <source
            srcset="
              ./images/main-page/more-foto/tesla-cybertruck-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/tesla-cybertruck-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/tesla-cybertruck-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/tesla-cybertruck-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Tesla-cybertruck-3d-model"
          />
        </picture>
          </div>

          <div class="carousel-item">
            <picture>
          <source
            srcset="
              ./images/main-page/more-foto/flower-post-3d-model-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/flower-pots-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main-page/more-foto/flower-pots-tablet-2x.jpg
            "
            type="image/jpg"
            media="(min-width: 480px)"
          />
          <img
            src="./images/main-page/more-foto/flower-post-3d-model-2x.jpg"
            class="d-block w-100"
            alt="Flower-pots-3d-model"
          />
        </picture>
          </div>

          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Попередня</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Наступна</span>
          </button>
        </div>
    </div>
    
</div>


  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"
  ></script>
  <script src="./js/modal.js"></script>
</div>
