.model-examples {

    position: relative;
    // background-color: #E5E5E5;
}

.model-examples__title {
  color: var(--headers-color);
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 48px;
    margin-bottom: 24px;
    margin-left: 114px;
  }
}

.model-examples__list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: var(--grid-gap);
  flex-wrap: wrap;

//  flex-basis: calc((100% - 3 * var(--grid-gap)) / 2);

  @media screen and (max-width: 480px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.model-examples__link {
 
  display: flex;
  justify-content: space-around;
  align-items:center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
  width: 130px;
  height: 158px;
  overflow: hidden;

  background-color: #FFFFFF;
opacity: 0.8;
box-shadow: inset 1px 1px 16px #CBCBCB, inset -1px -1px 16px #FFFFFF;
border-radius: 50px 0px;

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 182px;
  }

  @media screen and (min-width: 1440px) {
    width: 320px;
    height: 382px;
  }
}



.pic-title {
display: inline-block;

    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    text-align: center;
    color: #487996;

    @media screen and (min-width: 1440px) {
        font-size: 18px;
      }
}


.rectangle12 {
position: absolute;
width: 73.65px;
height: 73.65px;
left: -29px;
top: 200px;

background-color: #FFFFFF;
box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 35px 0px;
z-index: -100;

@media screen and (min-width: 768px) {
    opacity: 0;
  }
}