// Hero / 3Dscanning-page

.scanning-page {
    position: relative;
    padding-top: 190px;
    padding-bottom: 50px;
    
}

.scanning-page_list {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: relative;
}


.img {
    position: absolute;
    z-index: -1;
    top: 176px;
    right: 285px;
    background-image: url(../images/3d-scanning-page/Scanning_photo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 435px;
    height: 286px;
}


.image {
    position: absolute;
    top: 180px;
    right: 650px;
}

.scanning-page_item {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    color: #2B2B2B;
    width: 100%;
    width: calc((100% - 2 * 72px) / 2);
    }

.scanning-page_item:nth-child(2n + 1) {
    margin-right: 72px;
        
    }
    
    .scanning-page_item:nth-child(1) {
    margin-bottom: 24px;
    }



.scanning-page_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 24px;
    color: #487996;
}




.box1 {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 78px;
    background-color:  #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
}

.scanning-page_container {
    padding-left: 149px;
    padding-right: 149px;
}

.box2 {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: -38px;
    background:  #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
    width: 144px;
    height: 136.83px;
}

.box3 {
    position: absolute;
    z-index: -1;    
    right: 0px;
    top: 362px;
    background:  #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
    width: 136.83px;
    height: 144px;
}


