// Hero / 3Dscanning-page

.scanning-page {
    position: relative;
    padding-top: 190px;
    padding-bottom: 50px;
    
}

.scanning-page_list {

    @media screen and (min-width:1440px) {
        display: flex;
        flex-wrap: wrap;
    }
}


.scanning-page_item {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    color: #2B2B2B;
    width: 100%;

    @media screen and (min-width:768px) {
        width: 514px;
        top: 161px;
        font-size: 16px;
    }
    
    

    @media screen and (max-width:767px) {



        font-size: 16px;
        line-height: 1.25;
       
    }
    

    @media screen and (min-width:1440px) {
 
        width: calc((100% - 2 * 72px) / 2);
    }

    }

    @media screen and (min-width:1440px) {
        .scanning-page_item:nth-child(2n + 1) {
            margin-right: 72px;
                
            }
            
            .scanning-page_item:nth-child(1) {
            margin-bottom: 24px;
            }

    }

    .scanning-page_item:not(:last-child) {
        margin-bottom: 16px;
    }

 










.img {
    z-index: -1;
    background-image: url(../images/3d-scanning-page/Scanning_photo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 440px;
    height: 286px;
    margin-top: 20px;

   


    @media screen and (min-width:768px) {
        position: absolute;
        top: 150px;
        right: 0;
        width: 241px;
        height: 172px;
    }

    @media screen and (min-width:1440px) {
        top: 185px;
        right: 285px;
    }
}


// .image {
//     position: absolute;
//     top: 180px;
//     right: 650px;


// }





.scanning-page_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 24px;
    color: #487996;

    @media screen and (max-width:767px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    }

    @media screen and (min-width:768px) {
    font-size: 36px;
    line-height: 1.25;
    }
}




.box1 {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 82px;
    height: 78px;
    background-color:  #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;

    @media screen and (max-width:767px) {
        top: 150px;
        left: 0;
    }

    @media screen and (min-width:768px) {
        top: 130px;
        left: 0;
    }
}

.scanning-page_container {
    position: relative;

    @media screen and (min-width:1440px) {
        padding-left: 149px;
        padding-right: 149px;
    }

}

.box2 {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: -38px;
    background:  #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
    width: 144px;
    height: 136.83px;

    @media screen and (max-width:767px) {
        display: none;
        
    }

    @media screen and (min-width:768px) {
        top: -22px;
    }
}

.box3 {
    position: absolute;
    z-index: -1;    
    right: 0px;
    top: 362px;
    background:  #FFFFFF;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
    width: 136.83px;
    height: 144px;

    @media screen and (max-width:767px) {
        left: 0;
        top: 320px;
    }
}


