.scan {
  padding: 20px 0 30px;
}
.container {
}
.scan__title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.27;

  text-transform: uppercase;

  color: $accent-color;
}
.scan__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
}
.scan__item {
  width: 130px;
  height: 182px;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}
.scan__text {
  font-size: 14px;
  line-height: 1.5;

  color: $accent-color;
}
