.scan {
  padding: 20px 0 30px;
}
.container {
}
.scan__title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.27;

  text-transform: uppercase;

  color: $accent-color;
}
.scan__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
  flex-basis: calc(100% - 20px / 2);
  justify-content: center;
}
.scan__item {
  height: 182px;
  background: #ffffff;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  min-width: 130px;
  width: calc(50% - 20px / 2);

  &:nth-child(1) .scan__text {
    border: 3px solid red;
  }
  &:nth-child(2) .scan__text {
    border: 3px solid aqua;
  }
}
.scan__text {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100.3px;

  color: $accent-color;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 81.44px;
    background-image: url(/src/images/3d-scanning-page/process1-mob-2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: auto;
  }
}
