<section class="scan">
  <div class="container">
    <h2 class="scan__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scan__list">
      <li class="scan__item">
        <h3 class="scan__text">Підготовка деталі до сканування</h3>
      </li>
      <li class="scan__item">
        <h3 class="scan__text">Створення сканів і їх обробка</h3>
      </li>
      <li class="scan__item">
        <h3 class="scan__text">Перетворення reverse engineering</h3>
      </li>
      <li class="scan__item">
        <h3 class="scan__text">Підготовка моделі до друку</h3>
      </li>
    </ul>
  </div>
</section>
