<section class="scan">
  <div class="container scan__container">
    <h2 class="scan__title">3d сканування</h2>
    <ul class="scan__list">
      <li class="scan__item">
        <h3 class="scan__text">
          Підготовка деталі <br />
          до сканування
        </h3>
      </li>
      <li class="scan__item">
        <h3 class="scan__text">
          Створення сканів <br />
          і їх обробка
        </h3>
      </li>
      <li class="scan__item">
        <h3 class="scan__text">Перетворення reverse engineering</h3>
      </li>
      <li class="scan__item">
        <h3 class="scan__text">
          Підготовка моделі <br />
          до друку
        </h3>
      </li>
    </ul>
    <div class="scan__btn-wrap">
      <a href="./take-order.html" class="btn scan__btn btn-order__link"
        >Зробити замовлення</a
      >
    </div>
    <div class="scan__r-figure z-index"></div>
    <div class="scan__l-figure z-index"></div>
  </div>
</section>
