<footer class="footer">
  <div class="footer-conteiner container">
    <div class="footer-logo__wrap">
      <a href="./index.html" class="footer-logo link"
        ><picture class="footer-logo_img">
          <source
            srcset="./images/logo/logo192.png 1x, ./images/logo/logo384.png 2x"
            media="(min-width: 1440px)"
          />
          <img
            src="./images/logo/logo192.png"
            alt="logo"
            width="192"
            height="48"
          />
        </picture>
      </a>
    </div>
    <div class="footer-navigation__container">
      <div class="footer-navigation__wrap">
        <div class="footer__navigation">
          <ul class="footer__link list">
            <li class="footer__item">
              <a
                href="./index.html"
                class="site-nav site-nav-link link current-axent-color lang"
                key="main"
                >Головна</a
              >
            </li>
            <li class="footer__item">
              <a
                href="./3d-modeling.html"
                class="site-nav site-nav-link link lang"
                key="modeling"
                >3D Моделювання</a
              >
            </li>
            <li class="footer__item">
              <a
                href="./3d-scanning.html"
                class="site-nav site-nav-link link lang"
                key="scan"
                >3D Сканування</a
              >
            </li>
            <li class="footer__item">
              <a
                href="./3d-printing.html"
                class="site-nav site-nav-link link lang"
                key="print"
                >3D Друк</a
              >
            </li>
            <li class="footer__item">
              <a
                href="./take-order.html"
                class="site-nav site-nav-link link lang"
                key="order"
                >Замовити</a
              >
            </li>
            <li class="footer__item">
              <a
                href="./contacts.html"
                class="site-nav site-nav-link link lang"
                key="contacts"
                >Контакти</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-cont">
          <!-- <p class="footer-hed hidden"></p> -->
          <ul class="footer-soc list">
            <li class="footer-soc__item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="footer-soc-link link"
                >Instagram</a
              >
            </li>
            <li class="footer-soc__item">
              <a
                href="https://www.youtube.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="footer-soc-link link"
                >YouTube</a
              >
            </li>
            <li class="footer-soc__item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="footer-soc-link link"
                >Facebook</a
              >
            </li>
          </ul>
        </div>
      </div>
      <address class="footer__address">
        <div class="footer__mail address-list-footer list">
          <p class="address-link__adres">Email</p>
          <a
            href="mailto:3dfreedom.info@gmail.com"
            class="address-link__footer link"
            >3dfreedom.info@gmail.com</a
          >
        </div>
        <div class="footer__tel">
          <p class="address-link__adres lang" key="phone">Телефони</p>
          <ul class="address-footer__tel link">
            <li class="address-footer link">
              <a
                href="tel:+38(093)6432288"
                class="address-link__footer address-link__tel link"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li class="address-footer link">
              <a href="+38(050)3454423" class="address-link__footer link"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </div>
      </address>
    </div>
  </div>
</footer>
