<footer class="footer">
  <div class="footer-conteiner">
      <div class="footer-logo__wrap container">
        <a href="#" class="footer-logo link"
          ><picture class="footer-logo_img">
            <source
              srcset="./images/logo/test.png 1x, ./images/logo/test.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              src="./images/logo/test.png"
              alt="logo"
              width="192"
              height="48"
            />
          </picture>
        </a>
      </div>
      <div class="footer-navigation__container">
        <nav class="footer__navigation container">
          <ul class="footer__link list">
            <li class="footer__item">
              <a
                href="#"
                class="site-nav site-nav-link link current-axent-color"
                >Головна</a
              >
            </li>
            <li class="footer__item">
              <a href="#" class="site-nav site-nav-link link">3D Моделювання</a>
            </li>
            <li class="footer__item">
              <a href="#" class="site-nav site-nav-link link">3D Сканування</a>
            </li>
            <li class="footer__item">
              <a href="#" class="site-nav site-nav-link link">3D Друк</a>
            </li>
            <li class="footer__item">
              <a href="" class="site-nav site-nav-link link">Замовити</a>
            </li>
            <li class="footer__item">
              <a href="" class="site-nav site-nav-link link">Контакти</a>
            </li>
          </ul>
        </nav>
        <div class="footer-cont container">
          <p class="footer-hed hidden"></p>
          <ul class="footer-soc list">
            <li class="footer-soc__item">
              <a href="#" class="footer-soc-link link">Instagram</a>
            </li>
            <li class="footer-soc__item">
              <a href="#" class="footer-soc-link link">YouTube</a>
            </li>
            <li class="footer-soc__item">
              <a href="#" class="footer-soc-link link">Facebook</a>
            </li>
          </ul>
        </div>
        <address class="footer__addres container">
          <ul class="addres-list-footer list">
            <li class="addres-footer link">
              <p class="addres-link__adres">Email</p>
              <a
                href="mailto:3dfreedom.info@gmail.com"
                class="addres-link__footer link"
                >3dfreedom.info@gmail.com</a
              >
            </li>
            <li class="addres-footer link">
              <p class="addres-link__adres">Телефони</p>
              <a href="tel:+38(093)6432288" class="addres-link__footer link"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li class="addres-footer link">
              <a href="+38(050)3454423" class="addres-link__footer link"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>
