.connect {
  position: relative;
  width: 280px;
  height: 580px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    width: 400px;
  }
  @media screen and (min-width: 768px) {
    width: 400px;
  }
  @media screen and (min-width: 1440px) {
    width: 555px;
  }
}
.connect__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: #487996;
  text-transform: uppercase;
  padding-bottom: 28px;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.25;
    padding-bottom: 35px;
    text-align: center;
  }
  @media screen and (min-width: 1440px) {
    font-size: 36px;
    line-height: 1.25;
    padding-bottom: 44px;
    text-align: left;
  }
}
.contact-form__input {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  border: none;
  outline: none;
  border-bottom: 1px solid #487996;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.contact-form__input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2b2b2b;
  padding-bottom: 4px;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.contact-form__field {
  position: relative;
  margin-bottom: 44px;
}
.contact-form__text {
  width: 100%;
  height: 199px;
  border: 1px solid #487996;
  border-radius: 50px 0px;
  resize: none;
  margin-top: 4px;
}
.contact-form__text::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  padding: 22px 20px;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.contact-form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #2b2b2b;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.textarea-comment {
  margin-top: 4px;
  margin-bottom: 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.textarea-icon {
  position: absolute;
  fill: #cdcdcd;
  right: 20px;
  bottom: 0;
}
