.contacts {
  padding-top: 20px;
  padding-bottom: 60px;
  @media screen and (min-width: 1440px) {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

.contact-container {
  position: relative;
  @media screen and (max-width: 520px) {
    overflow: hidden;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 149px;
  }
}

.connect {
  position: relative;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 400px;
  }
  @media screen and (min-width: 1440px) {
    width: 555px;
    margin: 0;
  }
}

.connect__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: #487996;
  text-transform: uppercase;
  margin-bottom: 28px;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 35px;
    text-align: center;
  }
  @media screen and (min-width: 1440px) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 44px;
    text-align: left;
  }
}
.contact-form__input {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2b2b2b;
  border: none;
  outline: none;
  border-bottom: 1px solid #487996;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.contact-form__field {
  position: relative;
  margin-bottom: 44px;
}
.contact-form__lable {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-bottom: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2b2b2b;
  transition: transform 250ms linear;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11;
  }
}
.contact-form__input:focus + .contact-form__lable,
.contact-form__input:not(:placeholder-shown) + .contact-form__lable {
  transform: translateY(-24px);
  font-size: 14px;
  line-height: 1.42;
  @media screen and (min-width: 768px) {
    transform: translateY(-32px);
  }
}

.contact-form__text {
  width: 100%;
  height: 199px;
  border: 1px solid #487996;
  border-radius: 50px 0px;
  resize: none;
  outline: none;
  margin-top: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 22px 20px;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}

.contact-form__text::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}

.contact-form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #2b2b2b;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.textarea-comment {
  margin-bottom: 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #cdcdcd;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.1;
  }
}
.contact-form__field-textarea {
  position: relative;
}

.attach {
  position: absolute;
  fill: #cdcdcd;
  right: 21px;
  bottom: 23px;
  @media screen and (min-width: 1440px) {
    right: 61px;
  }
}

.contact-form__btn {
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    padding: 16px 32px;
  }
}

.rec19 {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  left: -17px;
  top: 46px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  z-index: -100;
  @media screen and (min-width: 768px) {
    width: 71.41px;
    height: 74.08px;
    top: -1.35px;
    left: auto;
    right: 32px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
  }
  @media screen and (min-width: 1440px) {
    width: 136.83px;
    height: 144px;
    top: -123px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
  }
}
.rec63 {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  right: -14.65px;
  top: -16.47px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
  z-index: -100;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.rec65 {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  left: -18px;
  top: 465px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 35px;
  z-index: -100;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.rec68 {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  right: -20.65px;
  top: 408px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  transform: rotate(90deg);
  z-index: -100;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// -------------------------------------------
.contacts__contacts-list {
  @media screen and (max-width: 1439px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: column;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 68px;
  }
}

.contacts__item:first-child {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-right: 28px;
  }
}

.contacts__item:last-child {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-left: auto;
  }
}

.contacts__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: 0.03em;
  color: #487996;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 18px;
    font-size: 36px;
  }
}

.contacts__link,
.contacts__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #2b2b2b;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.contacts__text {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    text-align: end;
  }
  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.contacts__text:not(:last-child),
.contacts__link:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 18px;
  }
}

.rectangle-67 {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  right: -15px;
  bottom: 160px;
  background: $bg-white-color;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  z-index: -1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .rectangle-67 {
//   width: 73.65px;
//   height: 73.65px;
//   background: red;
//   box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
//   border-radius: 25px 0px;
//   position: absolute;
//   top: 775px;
//   right: -15px;
// }

.rectangle-46 {
  @media screen and (min-width: 1440px) {
    position: absolute;
    width: 136.83px;
    height: 144px;
    left: -30px;
    top: 134px;
    background: $bg-white-color;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
    z-index: -1;
  }
}
