.contacts-hero {
  margin-left: auto;
  margin-right: auto;
}
.contacts-hero__container {
  position: relative;
}
.contacts-hero__header {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}

@media screen and (min-width: 768px) {
  .contacts-hero__header {
    font-weight: 700;
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts-hero__header {
    margin-left: 134px;
    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-hero__tumb {
    display: flex;
    gap: 32px;
  }
}

// @media screen and (min-width: 1440px) {
//   .test {
//     margin-left: 134px;
//   }
// }

.video-wrapper {
  position: relative;
  // display: inline-block;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .video-wrapper {
    margin-left: 134px;
  }
}
.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  background-image: url('../images/contacts-page/contact-hero-mob.jpg');
  background-size: cover;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .video-overlay {
    width: 336px;
    background-image: url('../images/contacts-page/contact-hero-tab.jpg');
  }
}

@media screen and (min-width: 1440px) {
  .video-overlay {
    width: 555px;
    background-image: url('../images/contacts-page/contact-hero-des.jpg');
  }
}

.contacts-hero_picture {
  margin-bottom: 16px;
}

.contacts-hero__text {
  margin-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .contacts-hero__text {
    position: relative;
    margin-bottom: 0;
  }
}

.contacts-hero__par {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .contacts-hero__par {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.27;
  }
}

.contacts-hero__span {
  font-size: 22px;
  vertical-align: middle;
}
@media screen and (min-width: 1440px) {
  .contacts-hero__span {
    font-size: 49px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

iframe {
  border-radius: 15px;
  width: 270px;
  height: 171px;
}

@media screen and (min-width: 768px) {
  iframe {
    width: 336px;
    height: 261px;
  }
}

@media screen and (min-width: 1440px) {
  iframe {
    width: 555px;
    height: 315px;
  }
}

.figura1 {
  position: absolute;
  top: 210px;
  left: 0;
  width: 44px;
  height: 73px;
  border-radius: 0px 0px 35px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .figura1 {
    display: none;
  }
  .figura2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 71px;
    height: 63px;
    border-radius: 0px 0px 0px 35px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 1440px) {
  .figura1 {
    display: none;
  }
  .figura2 {
    display: none;
  }
  .figura3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 82px;
    height: 78px;
    border-radius: 0px 0px 72px 0px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }
  .figura4 {
    position: absolute;
    top: -13px;
    right: 0;
    width: 137px;
    height: 42px;
    border-radius: 0px 0px 0px 72px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }
}
