.contacts-hero {
  padding-top: 92px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts-hero {
    padding-top: 104px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts-hero {
    padding-top: 190px;
    padding-bottom: 50px;
  }
}
.contacts-hero__container {
  position: relative;
}

.contacts-hero__header {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
}

@media screen and (min-width: 768px) {
  .contacts-hero__header {
    font-weight: 700;
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts-hero__header {
    margin-left: 134px;
    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-hero__tumb {
    display: flex;
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .contacts-hero__wrapper {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-hero__wrapper {
    margin-left: 134px;
  }
}

.contacts-hero_picture {
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .contacts-hero__text {
    position: relative;
    width: 515px;
  }
}

.contacts-hero__par {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .contacts-hero__par {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.27;
  }
}
.contacts-hero__par:last-child {
  margin-bottom: 0;
}

.contacts-hero__span {
  font-size: 22px;
}
@media screen and (min-width: 1440px) {
  .contacts-hero__span {
    font-size: 49px;
    position: absolute;
    bottom: 0;
  }
}

.figure1 {
  position: absolute;
  z-index: -2;
  background-color: #ffffff;
  top: 200px;
  left: -29px;
  width: 73.65px;
  height: 73.65px;
  border-radius: 0px 0px 35px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }

  @media screen and (min-width: 1400px) {
    width: 82px;
    height: 78px;
    border-radius: 0px 0px 72px 0px;
    top: 0;
    left: 35px;
  }
}

.figure2 {
  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: -2;
    background-color: #ffffff;
    top: -22px;
    right: 32px;
    width: 71.41px;
    height: 63.79px;
    border-radius: 0px 0px 0px 35px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 1440px) {
    width: 137px;
    height: 83px;
    border-radius: 0px 0px 0px 72px;
    top: -38px;
  }
}

.player {
  margin: auto;
  position: relative;
  width: 280px;
  border-radius: 15px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .player {
    width: 336px;
    height: 261px;
  }
}
@media screen and (min-width: 1440px) {
  .player {
    width: 555px;
    height: 315px;
  }
}

.controls {
  width: 280px;
  position: absolute;
  background-image: url(../images/contact-page-hero/image-contact-mob.jpg);
  background-size: cover;

  border-radius: 15px;
  display: flex;
  align-items: center;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .controls {
    background-image: url(../images/contact-page-hero/image-contact-tab.jpg);
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .controls {
    background-image: url(../images/contact-page-hero/image-contact-des.jpg);
    width: 555px;
  }
}
.video {
  width: 280px;
  height: 167px;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .video {
    width: 336px;
    height: 261px;
  }
}
@media screen and (min-width: 1440px) {
  .video {
    width: 555px;
    height: 315px;
  }
}

.controls__play {
  position: absolute;
  top: 56px;
  left: 104px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .controls__play {
    top: 92px;
    left: 137px;
  }
}
@media screen and (min-width: 1440px) {
  .controls__play {
    top: 122px;
    left: 250px;
  }
}
.play__btn {
  width: 63px;
  height: 63px;
}
