<section class="model-examples">
  <div class="container">
    <h1 class="model-examples__title">ми створюємо</h1>
    <ul class="model-examples__list">
      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
          <img
            srcset="
              ./images/3d-printing-page/model1x.jpg 1x,
              ./images/3d-printing-page/model2x.jpg 2x
            "
            src="./images/3d-printing-page/model1x.jpg"
            alt="model-photo"
          />
        </a>
      </li>
      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
          <img
            srcset="
              ./images/3d-printing-page/maket1x.jpg 1x,
              ./images/3d-printing-page/maket2x.jpg 2x
            "
            src="./images/3d-printing-page/maket1x.jpg"
            alt="maket-photo"
          />
        </a>
      </li>
      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
          <img
            srcset="
              ./images/3d-printing-page/decor1x.jpg 1x,
              ./images/3d-printing-page/decor2x.jpg 2x
            "
            src="./images/3d-printing-page/decor1x.jpg"
            alt="decor-photo"
          />
        </a>
      </li>
      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
          <img
            srcset="
              ./images/3d-printing-page/3D-coub1x.jpg 1x,
              ./images/3d-printing-page/3D-coub2x.jpg 2x
            "
            src="./images/3d-printing-page/3D-coub1x.jpg"
            alt="3D-coub-photo"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
