<section class="model-examples">
  <div class="container">
    <h1 class="model-examples__title">ми створюємо</h1>
    <ul class="model-examples__list">

      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
          <picture>
            <source
              srcset="
                ./images/3d-printing-page/protot-desc-1x.jpg 1x,
                ./images/3d-printing-page/protot-desc-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/prot-tablet-1x.jpg 1x,
                ./images/3d-printing-page/prot-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/prot-mobile-1x.jpg 1x,
                ./images/3d-printing-page/prot-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/3d-printing-page/maket1x.jpg" alt="maket" />
          </picture>
          
          <h2 class="pic-title">ПРОТОТИПИ</h2>
        
        </a>
      </li>

      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
          <picture>
            <source
              srcset="
                ./images/3d-printing-page/maket-desc-1x.jpg 1x,
                ./images/3d-printing-page/maket-desc@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/maket-tablet-1x.jpg 1x,
                ./images/3d-printing-page/maket-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/maket-mobile-1x.jpg 1x,
                ./images/3d-printing-page/maket-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/3d-printing-page/maket1x.jpg" alt="maket" />
          </picture>
          
          <h2 class="pic-title">МАКЕТИ</h2>
        
        </a>
      </li>

      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
           <picture>
            <source
              srcset="
                ./images/3d-printing-page/decor-desc-1x.jpg 1x,
                ./images/3d-printing-page/decor-desc@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/decor-tablet-1x.jpg 1x,
                ./images/3d-printing-page/decor-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/decor-mobile-1x.jpg 1x,
                ./images/3d-printing-page/decor-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/3d-printing-page/decor1x.jpg" alt="decor" />
          </picture>
          
          <h2 class="pic-title">ДЕКОР</h2>
        
        </a>
      </li>

      <li class="model-examples__item">
        <a href="/" class="model-examples__link">
           <picture>
            <source
              srcset="
                ./images/3d-printing-page/cube-desc-1x.jpg 1x,
                ./images/3d-printing-page/cube-desc@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/cube-tablet-1x.jpg 1x,
                ./images/3d-printing-page/cube-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/cube-mobile-1x.jpg 1x,
                ./images/3d-printing-page/cube-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/3d-printing-page/3D-coub1x.jpg" alt="3D-cube" />
          </picture>
          
          <h2 class="pic-title">КОРПОРАТИВНИЙ ДИЗАЙН</h2>
        
        </a>
      </li>
    </ul>
  </div>

  <div class="rectangle12"></div>
</section>
