<section class="model-examples">
  <div class="container examples-container">
    <h1 class="model-examples__title">ми створюємо</h1>

    <ul class="model-examples__list">
      <li class="model-examples__card">
        <picture class="card-img">
          <source
            srcset="
              ./images/3d-printing-page/protot-desc-1x.jpg 1x,
              ./images/3d-printing-page/protot-desc-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/prot-tablet-1x.jpg 1x,
              ./images/3d-printing-page/prot-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/prot-mobile-1x.jpg 1x,
              ./images/3d-printing-page/prot-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/3d-printing-page/protot-desc-1x.jpg"
            alt="prototyp"
          />
        </picture>
        <!-- <img 
          srcset="
            ./images/3d-printing-page/protot-desc-1x.jpg 240w,
            ./images/3d-printing-page/protot-desc-2x.jpg 480w
          "
          sizes="(min-width: 1440px) 240px, (min-width: 768px) 106px, 100vw"
          src="./images/3d-printing-page/protot-desc-1x.jpg"
          alt="prototyp"
        /> -->

        <h3 class="pic-title">прототипи</h3>
      </li>

      <li class="model-examples__card">
        <picture class="card-img">
          <source
            srcset="
              ./images/3d-printing-page/maket-desc-1x.jpg 1x,
              ./images/3d-printing-page/maket-desc@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/maket-tablet-1x.jpg 1x,
              ./images/3d-printing-page/maket-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/maket-mobile-1x.jpg 1x,
              ./images/3d-printing-page/maket-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/3d-printing-page/maket-desc-1x.jpg" alt="maket" />
        </picture>

        <!-- <img
          srcset="
            ./images/3d-printing-page/maket-desc-1x.jpg 240w,
            ./images/3d-printing-page/maket-desc@2x.jpg 480w
          "
          sizes="(min-width: 1440px) 240px, (min-width: 768px) 106px, 100vw"
          src="./images/3d-printing-page/protot-desc-1x.jpg"
          alt="maket"
        /> -->

        <h3 class="pic-title">макети</h3>
      </li>
      <li class="model-examples__card">
        <picture class="card-img">
          <source
            srcset="
              ./images/3d-printing-page/decor-desc-1x.jpg 1x,
              ./images/3d-printing-page/decor-desc@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/decor-tablet-1x.jpg 1x,
              ./images/3d-printing-page/decor-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/decor-mobile-1x.jpg 1x,
              ./images/3d-printing-page/decor-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/3d-printing-page/decor1x.jpg" alt="decor" />
        </picture>
        <!-- <img
          srcset="
            ./images/3d-printing-page/decor-desc-1x.jpg 240w,
            ./images/3d-printing-page/decor-desc@2x.jpg 480w
          "
          sizes="(min-width: 1440px) 240px, (min-width: 768px) 106px, 100vw"
          src="./images/3d-printing-page/decor-desc-1x.jpg"
          alt="decor"
        /> -->

        <h3 class="pic-title">декор</h3>
      </li>

      <li class="model-examples__card">
        <picture class="card-img">
          <source
            srcset="
              ./images/3d-printing-page/cube-desc-1x.jpg 1x,
              ./images/3d-printing-page/cube-desc@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/cube-tablet-1x.jpg 1x,
              ./images/3d-printing-page/cube-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-printing-page/cube-mobile-1x.jpg 1x,
              ./images/3d-printing-page/cube-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/3d-printing-page/3D-coub1x.jpg" alt="3D-cube" />
        </picture>
        <!-- <img
          srcset="
            ./images/3d-printing-page/cube-desc-1x.jpg 240w,
            ./images/3d-printing-page/cube-desc@2x.jpg 480w
          "
          sizes="(min-width: 1440px) 240px, (min-width: 768px) 106px, 100vw"
          src="./images/3d-printing-page/protot-desc-1x.jpg"
          alt="cube"
        /> -->

        <h3 class="pic-title">корпоративний дизайн</h3>
      </li>
    </ul>

    <div class="rectangle3 z-index"></div>
    <div class="rectangle12 z-index"></div>
  </div>
</section>
