<section class="process__section">
  <div class="container process__container">
    <h2 class="process__title title hidden">Опис процессу</h2>
    <ul class="process-description list">
      <li class="process-description__item">
        <div class="process-description__img">
          <img
            srcset="
              ./images/3d-printing-page/Printingservicemobil.jpg      320w,
              ./images/3d-printing-page/Printingservicetablet.jpg     768w,
              ./images/3d-printing-page/Printingservicedesk.jpg      1440w,
              ./images/3d-printing-page/Printingservicetablet@2x.jpg 1441w
            "
            src="./images/3d-printing-page/Printingservicemobil.jpg"
            alt="3d-Друк"
            class="process-description__img-image"
            sizes="(min-width: 1440px) 17vw, (min-width: 768px) 50vw, 100vw"
          />
          <!-- <picture>
            <source
              srcset="
                ./images/3d-printing-page/Printingservicedesk.jpg    1x,
                ./images/3d-printing-page/Printingservicedesk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/Printingservicetablet.jpg    1x,
                ./images/3d-printing-page/Printingservicetablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/Printingservicetablet.jpg    1x 320w,
                ./images/3d-printing-page/Printingservicetablet@2x.jpg 2x 480w
              "
              media="(min-width: 320px)"
              sizes="(min-width: 320px) 100vw"
            />

            <source
              srcset="
                ./images/3d-printing-page/Printingservicedesk.jpg    1x,
                ./images/3d-printing-page/Printingservicedesk@2x.jpg 2x
              "
              media="(min-width: 321px) and (max-width: 767px)"
            />
            <img
              class="process-description__img-image"
              src="./images/3d-printing-page/Printingservicemobil.jpg"
              alt="3d-Друк"
            />
          </picture> -->
        </div>
        <div class="process-description__text-wrap">
          <p class="process-description__text">
            <span class="process-description__span">3D-друк</span>
            - ми використовуємо FDM технологію друку. Вона представляє собою
            пошарове формування об'єкта за допомогою 3D принтера.
          </p>
          <p class="process-description__text">
            Моделі для створення розроблюються дизайнерами в спеціальному
            програмному забезпеченні: системах автоматизованого проектування.
          </p>
          <p class="process-description__text">
            3D друк знайшов широке застосування в архітектурі, промисловості,
            маркетингу, мистецтві і багатьох інших сфер.
          </p>
          <a
            href="./take-order.html"
            class="btn process-description__button btn-order__link"
            >Зробити замовлення</a
          >
        </div>
      </li>
      <li class="process-description__item">
        <div class="process-description__img">
          <img
            srcset="
              ./images/3d-printing-page/Backgroundmodelingmobil.jpg      320w,
              ./images/3d-printing-page/Backgroundmodelingtablet.jpg     768w,
              ./images/3d-printing-page/Backgroundmodelingdesk.jpg      1440w,
              ./images/3d-printing-page/Backgroundmodelingtablet@2x.jpg 1441w
            "
            src="./images/3d-printing-page/Backgroundmodelingmobil.jpg"
            alt="3d-Друк"
            class="process-description__img-image"
            sizes="(min-width: 1440px) 17vw, (min-width: 768px) 50vw, 100vw"
          />
          <!-- <picture>
            <source
              srcset="
                ./images/3d-printing-page/Backgroundmodelingdesk.jpg    1x,
                ./images/3d-printing-page/Backgroundmodelingdesk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/Backgroundmodelingtablet.jpg    1x,
                ./images/3d-printing-page/Backgroundmodelingtablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/Backgroundmodelingtablet.jpg    1x,
                ./images/3d-printing-page/Backgroundmodelingtablet@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="process-description__img-image"
              src="./images/3d-printing-page/Backgroundmodelingtablet.jpg"
              alt="3d-Друк"
            />
          </picture> -->
        </div>
        <div class="process-description__text-wrap">
          <p class="process-description__text">
            <span class="process-description__span">3D-моделювання</span>
            - це процес розробки математичного уявлення будь-якої поверхні
            об'єкта в трьох вимірах за допомогою спеціалізованого програмного
            забезпечення.
          </p>

          <p class="process-description__text">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших
            побажань.
          </p>
          <p class="process-description__text">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
            повністю задовольнить ваші потреби.
          </p>
          <a
            href="./take-order.html"
            class="btn process-description__button btn-order__link"
            >Зробити замовлення</a
          >
        </div>
      </li>
      <li class="process-description__item">
        <div class="process-description__img">
          <img
            srcset="
              ./images/3d-printing-page/scanningservicesmobil.jpg      320w,
              ./images/3d-printing-page/scanningservicestablet.jpg     768w,
              ./images/3d-printing-page/scanningservicesdesk.jpg      1440w,
              ./images/3d-printing-page/scanningservicestablet@2x.jpg 1441w
            "
            src="./images/3d-printing-page/scanningservicesmobil.jpg"
            alt="3d-Друк"
            class="process-description__img-image"
            sizes="(min-width: 1440px) 17vw, (min-width: 768px) 50vw, 100vw"
          />
          <!-- <picture>
            <source
              srcset="
                ./images/3d-printing-page/scanningservicesdesk.jpg    1x,
                ./images/3d-printing-page/scanningservicesdesk@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/scanningservicestablet.jpg    1x,
                ./images/3d-printing-page/scanningservicestablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/3d-printing-page/scanningservicestablet.jpg    1x,
                ./images/3d-printing-page/scanningservicestablet@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="process-description__img-image"
              src="./images/3d-printing-page/scanningservicestablet.jpg"
              alt="3d-Сканування"
            />
          </picture> -->
        </div>
        <div class="process-description__text-wrap">
          <p class="process-description__text">
            <span class="process-description__span">3D-сканування</span>
            - зняття даних, шляхом аналізу форми предмета і на основі отриманих
            даних створення її 3D-моделі.
          </p>
          <p class="process-description__text">
            Це універсальний інструмент, який дозволяє отримати як і просто
            3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для
            подальшого її друку на 3D-принтері.
          </p>
          <a
            href="./take-order.html"
            class="btn process-description__button btn-order__link"
            >Зробити замовлення</a
          >
        </div>
      </li>
    </ul>
    <div class="process__box process__box-1 z-index"></div>
    <div class="process__box process__box-2 z-index"></div>
    <div class="process__box process__box-3 z-index"></div>
    <div class="process__box process__box-4 z-index"></div>
    <div class="process__box process__box-5 z-index"></div>
  </div>
</section>
