<section class="container process">
  <h2 class="process__title title"></h2>
  <div class="process__item">
    <div class="process__image">
      <picture>
        <source
          srcset="
            ./images/Printingservicedesk.jpg    1x,
            ./images/Printingservicedesk@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/Printingservicetab.jpg    1x,
            ./images/Printingservicetab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/Printingservice.jpg    1x,
            ./images/Printingservice@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/Printingservice.jpg" alt="" />
      </picture>
    </div>
    <div class="process-description">
      <div class="process-description__text">
        3D-друк - ми використовуємо FDM технологію друку. Вона представляє собою
        пошарове формування об'єкта за допомогою 3D принтера.
      </div>
      <div class="process-description__text">
        Моделі для створення розроблюються дизайнерами в спеціальному
        програмному забезпеченні: системах автоматизованого проектування.
      </div>
      <div class="process-description__text">
        3D друк знайшов широке застосування в архітектурі, промисловості,
        маркетингу, мистецтві і багатьох інших сфер.
      </div>
    </div>
  </div>
  <div class="process__item">
    <div class="process__image">
      <picture>
        <source
          srcset="
            ./images/Backgroundmodelingdesk.jpg    1x,
            ./images/Backgroundmodelingdesk@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/Backgroundmodelingtab.jpg    1x,
            ./images/Backgroundmodelingtab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/Backgroundmodeling.jpg    1x,
            ./images/Backgroundmodeling@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/Backgroundmodeling.jpg" alt="" />
      </picture>
    </div>
    <div class="process-description">
      <div class="process-description__text">
        3D-моделювання - це процес розробки математичного уявлення будь-якої
        поверхні об'єкта в трьох вимірах за допомогою спеціалізованого
        програмного забезпечення.
      </div>
      <div class="process-description__text">
        Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
      </div>
      <div class="process-description__text">
        Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
        повністю задовольнить ваші потреби.
      </div>
    </div>
  </div>
  <div class="process__item">
    <div class="process__image">
      <picture>
        <source
          srcset="
            ./images/scanningservicesdesk.jpg    1x,
            ./images/scanningservicesdesk@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/scanningservicestab.jpg    1x,
            ./images/scanningservicestab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/scanningservices.jpg    1x,
            ./images/scanningservices@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/scanningservices.jpg" alt="" />
      </picture>
    </div>
    <div class="process-description">
      <div class="process-description__text">
        3D-сканування - зняття даних, шляхом аналізу форми предмета і на основі
        отриманих даних створення її 3D-моделі.
      </div>
      <div class="process-description__text">
        Це універсальний інструмент, який дозволяє отримати як і просто
        3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для
        подальшого її друку на 3D-принтері.
      </div>
    </div>
  </div>
</section>
