<!-- Contacts-take-order-page__contacts-->
<section class="contacts">
  <div class="container">
     <div class="contacts__mosaics">
      
      <img
          srcset="
            ./images/take-order-page/mosaics1-1x.jpg 1x,
            ./images/take-order-page/mosaics1-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo one"
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics2-1x.jpg 1x,
            ./images/take-order-page/mosaics2-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo two"
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics3-1x.jpg 1x,
            ./images/take-order-page/mosaics3-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo three"
          
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics4-1x.jpg 1x,
            ./images/take-order-page/mosaics4-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo four"
          
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics5-1x.jpg 1x,
            ./images/take-order-page/mosaics5-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo five"
          
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics6-1x.jpg 1x,
            ./images/take-order-page/mosaics6-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo six"
          
          width="138.42"
        />
    </div>  
    <ul class="contacts__list">
      <li class="contacts__item">
        <h2 class="contacts__title">ТЕЛЕФОНИ</h2>
        <a href="tel:+380957384551" class="contacts__link"
          >+38 (095) -73-84-551</a
        >
        <a href="tel:+380980025235" class="contacts__link"
          >+38 (098) -00-25-235</a
        >
      </li>
      <li class="contacts__item">
        <h2 class="contacts__title">Email</h2>
        <a href="mailto:3dfreedom.info@gmail.com" class="contacts__link"
          >3dfreedom.info@gmail.com</a
        >
      </li>
      <li class="contacts__item">
        <h2 class="contacts__title">РОБОЧИЙ ЧАС</h2>
        <p class="contacts__text">
          <span>Пн-пт:</span>
          з 8:00 до 19:00
        </p>
        <p class="contacts__text">
          <span>Сб, Нд:</span>
          з 10:00 до 17:00
        </p>
      </li>
    </ul>
    <div class="contacts__mosaics">
        
      
      <img
          srcset="
            ./images/take-order-page/mosaics1-1x.jpg 1x,
            ./images/take-order-page/mosaics1-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo one"
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics2-1x.jpg 1x,
            ./images/take-order-page/mosaics2-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo two"
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics3-1x.jpg 1x,
            ./images/take-order-page/mosaics3-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo three"
          
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics4-1x.jpg 1x,
            ./images/take-order-page/mosaics4-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo four"
          
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics5-1x.jpg 1x,
            ./images/take-order-page/mosaics5-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo five"
          
          width="138.42"
        />
        <img
          srcset="
            ./images/take-order-page/mosaics6-1x.jpg 1x,
            ./images/take-order-page/mosaics6-2x.jpg 2x
          "
          alt="Частина мозаїки"
          class="contacts__photo six"
          
          width="138.42"
        />
    </div>  
</section>
