<section class="oreder-hero">
<div class="container ">
<h1 class="order-hero__header">зробити замовлення</h1>
<picture class="main-pic">


</picture>

<div class="order-description">
<p>На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.</p>
<p>Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі ваші запитання.</p>

<div class="order-gallery">
<img class="order-gallery__pic" src="#"/>
<img class="order-gallery__pic" src="#"/>
<img class="order-gallery__pic" src="#"/>


</div>
</div>

<div class="rect12"></div>
<div class="rect58"></div>
</div>

</section>