<section class="order-hero">
  <div class="container order-container">
    <h1 class="order-hero__main-title">зробити замовлення</h1>

    <div class="order-hero__content">
      <picture class="main-pic">
        <source
          srcset="
            ./images/take-order-page/main1x.jpg  1x,
            ./images/take-order-page/main@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/take-order-page/main-tablet-1x.jpg 1x,
            ./images/take-order-page/main-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/take-order-page/main-mob-1x.jpg 1x,
            ./images/take-order-page/main-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/take-order-page/main1x.jpg" alt="main-photo" />
      </picture>

      <div class="order-description">
        <p class="order-description__text">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми
          зв'яжемося з вами.
        </p>

        <p class="order-description__text">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і
          дадуть відповідь на всі ваші запитання.
        </p>

        <ul class="order-gallery">
          <li class="box gallery-pic1"></li>
          <li class="box gallery-pic2"></li>
          <li class="box gallery-pic3"></li>
        </ul>
      </div>
    </div>

    <div class="rect12 z-index"></div>
    <div class="rect58 z-index"></div>
  </div>
</section>
