<div class="order-frame">
  <h2 class="order-frame__title title">Звʼяжіться з нами</h2>
  <form class="order-form">
    <div class="order-form__field">
      <input
        type="text"
        class="order-form__input"
        name="client-name"
        id="client-name"
        placeholder="Імʼя"
        autofocus
      />
    </div>
    <div class="order-form__field">
      <input
        type="mail"
        class="order-form__input"
        name="client-mail"
        id="client-mail"
        placeholder="Email"
      />
    </div>
    <div class="order-form__field">
      <select
        class="order-form__input"
        name="client-order"
        id="client-order"
        placeholder="Види пластика"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="order-form__field">
      <select
        class="order-form__input"
        name="client-order-print"
        id="client-order-print"
        placeholder="Якість друку"
      >
        <option value="300">300 мікрон</option>
        <option value="200">200 мікрон</option>
        <option value="100">100 мікрон</option>
      </select>
    </div>
    <div class="order-form__field">
      <select
        class="order-form__input"
        name="client-order-print"
        id="client-order-print"
        placeholder="Колір"
      >
        <option value="black">Чорний колір</option>
        <option value="grey">Сірий колір</option>
        <option value="white">Білий колір</option>
      </select>
    </div>
    <div class="order-form__field">
      <label for="client-text" class="order-form__label">Повідомлення</label>
      <textarea
        type="text"
        class="order-form__text"
        name="client-text"
        id="client-text"
        placeholder="Залишіть своє повідомлення"
      />
      <svg class="textarea-icon" width="24" height="20">
        <use href="#"></use>
      </svg>
    </div>
    <p class="textarea-notice">
      *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
    </p>
    <button class="order-form__button" type="submit">Відправити</button>
  </form>
</div>
